<div class="site_wrapper">

{{> organisms/global/header}}



<div role="main" class="grid_wrapper">

	
	<h2>This page should pull in the header and footer markup but they should look unstyled.</h2>

	<p class="is-error">This text should be big and GREEN rather than red, if it is, it's being styled from a pattern lab independent site specific css file, yay.</p>

</div>


{{> organisms/global/footer }}

</div>