<style>
.recusive-item{
  margin-left: 2em;
}
</style>

{{#item}}
<div class="recusive-item">
  <span>{{name}}</span>
  {{#children}}
    {{#items}}
      {{> templates/Recursion/Recursive}}
    {{/items}}
  {{/children}}
</div>
{{/item}}