<form action="{{form_search.action}}"

  {{^form_search.autocomplete}}
    class="search-multiterm"
  {{/form_search.autocomplete}}

  {{#form_search.autocomplete}}
    class="search-multiterm scroll-trigger"
    data-enabled="true"
    data-enabled="true"
    data-fire-on-open="addAutocomplete"
    data-fire-on-open-params='{
     "url": "{{url}}",
     "translations":{ "Agent":"{{translations.agents}}", "Place":"{{translations.places}}", "Concepts":"{{translations.concepts}}" }
    }'
  {{/form_search.autocomplete}}

  >
  <div class="inputarea js-hitarea">

    {{#grid_view_active}}
        <input type="hidden" name="view" value="grid"/>
    {{/grid_view_active}}

    {{#input_search}}

      {{#has_original}}
        <input type="hidden" name="q" value="{{input_original.value}}"/>
      {{/has_original}}

      <ul class="search-tags js-search-tags">
        {{#input_values}}
          {{#is_mlt}}
            <li class="search-tag mlt">
              {{i18n.site.navigation.breadcrumb.results_list_mlt}}
              <input type="hidden" name="{{name}}" value="{{value}}" class="js-hidden-search-term"/>
              <a href="{{remove}}" class="mlt_remove" data-role="remove"><span class="is-vishidden">Remove {{value}}</span></a>
            </li>
        {{/is_mlt}}
        {{/input_values}}

        {{#input_values}}
          {{^is_mlt}}
            <li class="search-tag">
              {{value}}
              <input type="hidden" name="{{name}}" value="{{value}}" class="js-hidden-search-term"/>
              <a href="{{remove}}" data-role="remove"><span class="is-vishidden">Remove {{value}}</span></a>
            </li>
          {{/is_mlt}}
        {{/input_values}}

        {{#input_original.value}}
          <li class="search-tag">{{.}}<a href="{{input_original.remove}}" data-role="remove"><span class="is-vishidden">Remove {{.}}</span></a></li>
        {{/input_original.value}}

        <li class="search-input-item">
          <input class="search-input js-search-input js-placeholder" type="text"
          {{#title}}title="{{title}}" {{/title}}
          {{#input_name}}name="{{input_name}}" {{/input_name}}
          {{#placeholder}}placeholder="{{placeholder}}" {{/placeholder}}/>
        </li>
      </ul>

    {{/input_search}}

  </div>

  <div class="submitarea">
    <button type="submit" class="search-submit">
      <svg class="icon icon-search">
        <use xlink:href="#icon-search"></use>
      </svg>
      <span class="is-vishidden">{{i18n.global.search-area.search-button-image-alt}}</span>
    </button>
  </div>

  {{#browse_menu}}
    <nav role="navigation">
      {{> molecules/navigation/smartmenu }}
    </nav>
  {{/browse_menu}}

  {{# form_search.hidden }}
  <input type="hidden" name="{{ hidden_name }}" value="{{ hidden_value }}" />
  {{/ form_search.hidden }}
</form>

{{#browse_menu}}
  <div class="browse-menu-mobile">
    {{#items}}
      <span class="text-mobile">{{text_mobile}}</span>
      <div class="browse-options">
        {{#submenu}}
          {{#items}}
            <div class="browse-option">
              <a href="{{url}}">
                <svg class="icon {{icon}}">
                  <use xlink:href="#{{icon}}"></use>
                </svg>
                <span class="is-vishidden">{{ text }}</span>
              </a>
            </div>
          {{/items}}
        {{/submenu}}
      </div>
    {{/items}}
  </div>
{{/browse_menu}}
