<div class="container-large">
	<table class="card-component">
		<tr class="widget-collapsed">
			<td class="item-card-controls">
				<div class="card-label normal-colored-dark indent">{{record_item}}</div>
				<div class="card-buttons normal-colored">
					<div class="values-expand card-button">Expand</div>
					<div class="card-button">Item</div>
					<div class="card-button">Source Item</div>
				</div>
			</td>
			<td class="item-card-values">
				{{#edm}}
				<textarea id="xml" class="xml-view-source">
				  {{data}}
				</textarea>
				{{/edm}}
				<div id="xml-formatted" class="xml-view xml-view-short"></div>
			</td>				
		</tr>
 		<tr class="widget-expanded">
	 		<td class="card-controls-expanded">
				<div class="card-label normal-colored indent">{{record_item}}</div>
				<div class="normal-colored-dark values-collapse card-button">Collapse</div>
				<div class="normal-colored item-button card-button">Item</div>
				<div class="normal-colored item-source-button card-button">Item Source</div>	
	 		</td>
		</tr>
		<tr class="widget-expanded">
			<td>
				{{#edm}}
					<textarea id="xml" class="xml-view-source">
				  		{{data}}
					</textarea>
				{{/edm}}
				<div id="xml-formatted-expanded" class="xml-view xml-view-long"></div>
			</td>
		</tr>
	 </table>
</div>