<header class="header">

<div class="menu-top">
  {{> molecules/navigation/global-topdrawer }}
</div>

<!-- Off canvas search bar -->
{{#options.search_active}}
{{> molecules/forms/global-search }}
{{/options.search_active}}

<!-- wrapper for navigation bar -->
<div class="cf">

{{# version.is_alpha }}
  <a href="#banner" class="phase-flag alpha">BETA</a>
{{/ version.is_alpha }}


  {{> atoms/images/logo }}


  <div class="nav-global">

    <a href="#" class="nav-toggle nav-toggle-sites">
      <span>{{i18n.global.our-sites}}</span>
    </a>

    {{#options.search_active}}
    <a href="#search" class="nav-toggle nav-toggle-search" aria-controls="searcharea" aria-expanded="false" aria-haspopup="true" aria-label="open search panel" aria-owns="searcharea">
      <svg class="icon icon-search">
        <use xlink:href="#icon-search"></use>
      </svg>
      <span class="is-vishidden">Search</span>
    </a>
    {{/options.search_active}}

    {{#options.settings_active}}
    <a href="#" class="nav-toggle nav-toggle-settings">
      <svg class="icon icon-settings">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </a>
    {{/options.settings_active}}

    <a href="#" class="nav-toggle nav-toggle-menu">
      <svg class="icon icon-menu">
        <use xlink:href="#icon-menu"></use>
      </svg>
      <span>Menu</span>
    </a>

  </div>


{{#primary_nav}}
  <nav id="nav" class="nav_primary nav">
    <ul>
    {{#items}}
      <li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a></li>
    {{/items}}
    </ul>
  </nav><!--end .nav-->
{{/primary_nav}}

</div>
</header>


<nav class="drawer menu-right">

{{#options.search_active}}
  <div class="search">
    {{> molecules/forms/search }}
  </div>
{{/options.search_active}}

{{#primary_nav}}
  <nav class="nav_primary">
    <ul>
    {{#items}}
      <li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a>
      </li>
    {{/items}}
    </ul>
  </nav><!--end .nav-->
{{/primary_nav}}

{{#secondary_nav}}
  <ul class="nav_secondary">
    {{#options.settings_active}}
    <li>
    <a href="#" class="nav-toggle nav-toggle-settings">
      <svg class="icon icon-settings">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span>Settings</span>
    </a>
    </li>
    {{/options.settings_active}}

  </ul>
{{/secondary_nav}}
</nav>