<div id="iiif">
</div>
<div id="iiif-ctrl">
  <div class="iiif-ctrl-group">
  {{!
  <!--
    <a href="#" class="first">◂◂</a>
    <a href="#" class="prev">◂</a>
    <input class="jump-to-img" value="1"/>
    <span class="total-images"></span>
    <a href="#" class="next">▸</a>
    <a href="#" class="last">▸▸</a>
    <span class="title"></span>
   -->
  }}

    <a href="#" class="first">&lt;&lt;</a>
    <a href="#" class="prev">&lt;</a>
    <input class="jump-to-img" value="1"/>
    <span class="total-images"></span>
    <a href="#" class="next">&gt;</a>
    <a href="#" class="last">&gt;&gt;</a>
    <span class="title"></span>


  </div>
</div>
