<fieldset>
    <input type="submit" />
    <input type="submit" value="Submit the form NOW"/>
    <button type="submit">Submit me!</button>
</fieldset>

<fieldset>
    <input class="pushbutton" type="submit" />
    <input class="pushbutton" type="submit" value="Register"/>
    <button class="pushbutton" type="submit">Submit me!</button>
</fieldset>