{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-editing }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}



<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="page_header">
      {{> molecules/navigation/breadcrumbs}}
    </div>




    <div class="account-header section">
      <h2>Current Competition: <span class="highlight">Heritage in Motion 2016</span></h2>
      <p>Deadline: Submit your entries before January 12th 2016</p>
      <a href="TODO: add new submission url" class="btn cta">Add a new Entry</a>
    </div>

    <div class="section">

    <h2>Your Entries</h2>




      <ul class="cf">
        <li class="submission-list-item list-item cf">

          <h3><span class="inabox">2016</span> Submission 01</h3>

          <div class="cf">
            <div class="item-supplementary">
              <div class="item-image">
                <a href=""><img src="../../images/fpo_4x3.png" alt="A Rectangle"></a>
              </div>
            </div>

            <div class="item-details">
              <h4>Marshall McLuhan Colbert bump backpack journalist vast wasteland Romenesko CPM</h4>
              <div class="description">
                Like button audience atomization overcome Colbert bump Free Darko inverted pyramid we will make them pay, digital circulation strategy Like button totally blowing up on Twitter church of the savvy. Pictures of Goats section open source discuss Frontline analog thinking filters paidContent.
              </div>
            </div>
          </div>

          <div class="submission-meta cf">

            <span class="submission-status btn pill draft">
                <svg class="icon icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
                Saved as draft
            </span>
            <form action="" class="cartform"><button class="submission-status btn pill action">Pay now</button></form>

            <div class="submission-actions">
              <ul class="button-bar button-bar-small">
                <li class="button-bar__item">
                  <a href="TODO: edit url here" class="button-bar__button">
                    <svg class="icon icon-edit">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
                    </svg>
                    Edit
                  </a>
                </li>
                <li class="button-bar__item">
                  <a href="TODO: view url here" class="button-bar__button">
                    <svg class="icon icon-view">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"></use>
                    </svg>
                    View
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="submission-list-item list-item cf">

          <h3><span class="inabox">2016</span> Submission 02</h3>

          <div class="cf">
            <div class="item-supplementary">
              <div class="item-image">
                <a href=""><img src="../../images/fpo_4x3.png" alt="A Rectangle"></a>
              </div>
            </div>

            <div class="item-details">
              <h4>Rembrant van Rijn, An Elephant, a drawing.</h4>
              <div class="description">
                Fizzle crazy tortor. Sed rizzle. Ass pimpin' dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo' vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.
              </div>
            </div>
          </div>

          <div class="submission-meta cf">
            <span class="submission-status btn pill pending">Pending approval</span>
            <form action="" class="cartform"><button class="submission-status btn pill action">Pay now</button></form>

            <div class="submission-actions">
              <ul class="button-bar button-bar-small">
                <li class="button-bar__item">
                  <a href="TODO: edit url here" class="button-bar__button">
                    <svg class="icon icon-edit">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
                    </svg>
                    Edit
                  </a>
                </li>
                <li class="button-bar__item">
                  <a href="TODO: view url here" class="button-bar__button">
                    <svg class="icon icon-view">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"></use>
                    </svg>
                    View
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </li>
        <li class="submission-list-item list-item cf">

          <h3><span class="inabox">2016</span> Submission 03</h3>

          <div class="cf">
            <div class="item-supplementary">
              <div class="item-image">
                <a href=""><img src="../../images/fpo_4x3.png" alt="A Rectangle"></a>
              </div>
            </div>

            <div class="item-details">
              <h4>Veggies sunt bona vobis, proinde vos postulo</h4>
              <div class="description">
                Mung bean squash sorrel taro coriander collard greens gumbo bitterleaf tomato. Taro water chestnut celtuce turnip yarrow celery endive scallion black-eyed pea onion. Aubergine dulse turnip greens mustard salsify garlic soybean parsley bitterleaf desert raisin courgette.
              </div>
            </div>
          </div>

          <div class="submission-meta cf">



            <span class="submission-status btn pill approved">
                <svg class="icon icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
                Approved
            </span>

            <span class="submission-status btn pill approved">
                <svg class="icon icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
                Paid
            </span>



            <div class="submission-actions">
              <ul class="button-bar button-bar-small">
                <li class="button-bar__item">
                  <a href="TODO: edit url here" class="button-bar__button">
                    <svg class="icon icon-edit">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
                    </svg>
                    Edit
                  </a>
                </li>
                <li class="button-bar__item">
                  <a href="TODO: view url here" class="button-bar__button">
                    <svg class="icon icon-view">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"></use>
                    </svg>
                    View
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </li>


        <li class="submission-list-item list-item cf">

          <h3><span class="inabox">2016</span> Submission 04</h3>

          <div class="cf">
            <div class="item-supplementary">
              <div class="item-image">
                <a href=""><img src="../../images/fpo_4x3.png" alt="A Rectangle"></a>
              </div>
            </div>

            <div class="item-details">
              <h4>Help, help, I'm being repressed!</h4>
              <div class="description">
                The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migrate? Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!
              </div>
            </div>
          </div>

          <div class="submission-meta cf">

            <span class="submission-status btn pill rejected">
                <svg class="icon icon-delete">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-delete"></use>
                </svg>
                Rejected
            </span>

            <form action="" class="cartform"><button class="submission-status btn pill action">Pay now</button></form>

            <div class="submission-actions">
              <ul class="button-bar button-bar-small">
                <li class="button-bar__item">
                  <a href="TODO: edit url here" class="button-bar__button">
                    <svg class="icon icon-edit">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
                    </svg>
                    Edit
                  </a>
                </li>
                <li class="button-bar__item">
                  <a href="TODO: view url here" class="button-bar__button">
                    <svg class="icon icon-view">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"></use>
                    </svg>
                    View
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </li>


        <li class="submission-list-item list-item cf">

          <h3><span class="inabox">2016</span> Submission 05</h3>

          <div class="cf">
            <div class="item-supplementary">
              <div class="item-image">
                <a href=""><img src="../../images/fpo_4x3.png" alt="A Rectangle"></a>
              </div>
            </div>

            <div class="item-details">
              <h4>Help, help, I'm being repressed!</h4>
              <div class="description">
                The Knights Who Say Ni demand a sacrifice! …Are you suggesting that coconuts migrate? Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!
              </div>
            </div>
          </div>

          <div class="submission-meta cf">

            <span class="submission-status btn pill approved">
                <svg class="icon icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
                Online
            </span>

            <span class="submission-status btn pill approved">
                <svg class="icon icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
                Paid
            </span>

            <div class="submission-actions">
              <ul class="button-bar button-bar-small">
                <li class="button-bar__item">
                  <a href="TODO: edit url here" class="button-bar__button">
                    <svg class="icon icon-edit">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
                    </svg>
                    Edit
                  </a>
                </li>
                <li class="button-bar__item">
                  <a href="TODO: view url here" class="button-bar__button">
                    <svg class="icon icon-view">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"></use>
                    </svg>
                    View
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </li>
      </ul>



    </div>


  </div>
  {{! END l-content }}


  <div class="l-sidebar">

    <div class="section">
        <nav class="nav_secondary" role="navigation">
          <ul class="level1">
            <li>
              <a href="#" class="is-current">Entries</a>
            </li>
            <li>
              <a href="#">Profile</a>
            </li>
          </ul>
        </nav>
    </div>

  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer_subsite }}