{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{# user_judge }}
<div class="user-banner">
  <span class="user-label">Judge</span>
</div>
{{/ user_judge }}

{{> organisms/global/header_v2}}



<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="page_header">
      {{> molecules/navigation/breadcrumbs}}
    </div>

    {{# user_judge }}
    <div class="user-banner-inline">
      Hello Judge. You can now rate and comment the entries below.
    </div>
    {{/ user_judge }}


    <div class="video-list section">
      <h2>Category name</h2>

      <ul class="cf">
      {{#listItems.six}}
        <li class="video-list-item">
        {{> molecules/blocks/media-item-video }}
        </li>
      {{/listItems.six}}
      </ul>
    </div>

    <div class="video-list section">
      <h2>Category name</h2>

      <ul class="cf">
      {{#listItems.six}}
        <li class="video-list-item">
        {{> molecules/blocks/media-item-video }}
        </li>
      {{/listItems.six}}
      </ul>
    </div>


  </div>
  {{! END l-content }}


  <div class="l-sidebar js-getstickywidth">

  <div class="l-categories js-sticky">
  <h4>Filter by category:</h4>
  {{> molecules-tags-large }}
  </div>


  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer_subsite }}


<div class="lightbox-addcomment js-lightbox-addcomment">
  <form action="<<< TODO -> Add comment submission url here >>>">

  <div class="intro">
    You rated this entry: {{> molecules/controls/star-rating }}
  </div>

  <div class="form-section">
    <textarea name="comment" id="comment" placeholder="Please leave a comment about your rating"></textarea>
  </div>

  <div class="form-section">
    <button class="pushbutton" type="submit">Submit</button>
    <button class="js-cancel right">Cancel</button>
  </div>

  </form>
</div>
