{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-editing }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}


<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="page_header">
      {{> molecules/navigation/breadcrumbs}}
    </div>


    <div class="maincontent">
      <div class="textcontent">

        <div class="prose">
          <h1 class="title">Edit your profile</h1>


          <form name="profile" method="post" action="/membership/profile/edit">

                <fieldset id="personal-details" class="field-container">

                    <legend><h3>Personal details</h3></legend>


                    <div class="field-container">
                    <label for="profile_displayname" class="required">Public Name</label>
                    <input type="text" id="profile_displayname" name="profile[displayname]" required="required" placeholder="Name" class="icon-bg icon-user" value="">
                    </div>

                    <div class="field-container">
                      <label for="profile_email" class="required">Email Address</label>
                      <input type="email" id="profile_email" name="profile[email]" required="required" placeholder="Email address" class="icon-bg icon-user" value="">
                    </div>


                    <div class="field-container">
                      <label for="profile_first_name" class="required">First Name:</label>
                      <input type="text" id="profile_first_name" name="profile[first_name]" required="required" class="icon-bg icon-user" placeholder="First name">
                    </div>


                    <div class="field-container">
                      <label for="profile_last_name" class="required">Last Name:</label>
                      <input type="text" id="profile_last_name" name="profile[last_name]" required="required" class="icon-bg icon-user" placeholder="Last name">
                    </div>

                </fieldset>

                <fieldset id="organisation" class="field-container">
                    <legend><h3>Organisation</h3></legend>

                    <div class="field-container">
                      <label for="profile_organisation" class="required">Organisation:</label>
                      <input type="text" id="profile_organisation" name="profile[organisation]" required="required" class="icon-bg icon-organisation" placeholder="Organisation name">
                    </div>

                    <div class="field-container">
                      <label for="profile_organisation_url">Organisation URL:</label>
                      <input type="text" id="profile_organisation_url" name="profile[organisation_url]" class="icon-bg icon-website" placeholder="Organisation Website">
                    </div>

                    <div class="field-container">
                      <label for="profile_profession" class="required">Profession:</label>
                      <input type="text" id="profile_profession" name="profile[profession]" required="required" class="icon-bg icon-profession" placeholder="Profession">
                    </div>
                </fieldset>


                <fieldset id="online-presence" class="field-container">
                    <legend><h3>Online presence</h3></legend>

                    <div class="field-container">
                      <label for="profile_website">Website URL:</label>
                      <input type="text" id="profile_website" name="profile[website]" class="icon-bg icon-website" placeholder="Website">
                    </div>

                    <div class="field-container">
                      <label for="profile_twitter_handle">Twitter Name:</label>
                      <input type="text" id="profile_twitter_handle" name="profile[twitter_handle]" class="icon-bg icon-twitter-handle" placeholder="Twitter Address">
                    </div>
                </fieldset>


                <fieldset id="address-information" class="field-container">
                    <legend><h3>Address information</h3></legend>

                    <div class="field-container">
                      <label for="profile_address_street">Street Address:</label>
                      <input type="text" id="profile_address_street" name="profile[address_street]" class="icon-bg icon-address-street" placeholder="Street Address">
                    </div>

                    <div class="field-container">
                      <label for="profile_address_street_meta">Address street meta</label>
                      <input type="text" id="profile_address_street_meta" name="profile[address_street_meta]" class="icon-bg icon-street" placeholder="Address other">
                    </div>

                    <div class="field-container">
                      <label for="profile_address_city">City:</label>
                      <input type="text" id="profile_address_city" name="profile[address_city]" class="icon-bg icon-city" placeholder="City">
                    </div>


                    <div class="field-container">
                      <label for="profile_address_state">Province / state / arrondissement:</label>
                      <input type="text" id="profile_address_state" name="profile[address_state]" class="icon-bg icon-state" placeholder="State or Province">
                    </div>

                    <div class="field-container">
                      <label for="profile_address_country">Country:</label>
                      <input type="text" id="profile_address_country" name="profile[address_country]" class="icon-bg icon-country" placeholder="Country">
                    </div>

                    <div class="field-container">
                      <label for="profile_phone_number">Phone number:</label>
                      <input type="text" id="profile_phone_number" name="profile[phone_number]" class="icon-bg icon-phone-number" placeholder="Phone Number">
                    </div>
                </fieldset>

                <button type="submit" id="profile_submit" name="profile[submit]" class="">Save »</button>
                <input type="hidden" id="profile__token" name="profile[_token]" value="50EEe3YU-mQu2uxfV2gStHUPvuv9qvqnlXOgSLMLmo8">

                </form>
        </div>

      </div>
    </div>




  </div>
  {{! END l-content }}




  <div class="l-sidebar">

      <div class="section">
          <nav class="nav_secondary" role="navigation">
            <ul class="level1">
              <li>
                <a href="#">Entries</a>
              </li>
              <li>
                <a href="#" class="is-current">Profile</a>
              </li>
            </ul>
          </nav>
      </div>

          <div class="section cf">

          <h4>Connect your account with:</h4>

            <form name="associate" method="post" action="/authentication/login">

            <ul class="provider-association-list">

              <li class="members-oauth-provider local"></li>

              <li class="members-oauth-provider">
                <button type="submit" name="associate[google]" data-connected="false" id="associate_google" class="not-connected" title="Add your Google account">
                    <svg class="icon icon-googleplus">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-googleplus"></use>
                    </svg>
                </button>
              </li>

              <li class="members-oauth-provider">
                <button type="submit" name="associate[linkedin]" data-connected="true" id="associate_linkedin" class="connected" title="Add your LinkedIn account">
                  <svg class="icon icon-linkedin">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
                  </svg>
                </button>
              </li>

              <li class="members-oauth-provider">
                <button type="submit" name="associate[facebook]" data-connected="false" id="associate_facebook" title="Add your facebook account">
                  <svg class="icon icon-facebook">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                  </svg>
                </button>
              </li>

            </ul>

            </form>
        </div>

  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer_subsite }}