#Orchestration
max.concurrent.threads=
monitor.check.interval.in.secs=
periodic.failsafe.check.in.millisecs=
periodic.scheduler.check.in.millisecs=
redisson.lock.watchdog.timeout.in.secs=
polling.timeout.for.cleaning.completion.service.in.secs=

#Socks Proxy
socks.proxy.enabled=
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

#Truststore
truststore.path=
truststore.password=

#RabbitMq
rabbitmq.host=
rabbitmq.port=
rabbitmq.username=
rabbitmq.password=
rabbitmq.queue.name=
rabbitmq.highest.priority=

#Mongo
mongo.hosts=localhost
mongo.port=27017
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db=

#Redis
redis.host=
redis.port=0
redis.password=

solr.url=

#ECloud
ecloud.baseUrl=
ecloud.dps.baseUrl=
ecloud.provider=
ecloud.username=
ecloud.password=

#Authentication
authentication.baseUrl=

#CORS
allowed.cors.hosts=*