<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	  
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5p %C:%L [%t] - %m%n"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
		<Logger name="eu.europeana" level="debug" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
	</Loggers>
</Configuration>