<div class="container-large" {{#object_id}}id="{{.}}"{{/object_id}}>
	<table class="card-component">
		<tr class="widget-collapsed" {{#object_id}}object_id="{{.}}"{{/object_id}}>
			<td class="mapping-card-controls">
				<div class="card-label normal-colored indent">{{prefix}}:{{name}}</div>
				<div class="card-label normal-colored-dark indent">HardCode!</div>
				<div class="card-buttons normal-colored">
					<div class="values-expand card-button">Values</div>
					<div class="mapping-card-function card-button"><span class="mapping-card-f">f</span><span class="mapping-card-x">x</span></div>
					<div class="if card-button">if</div>
				</div>
			</td>
			<td class="mapping-card-values">
				<div class="mapping-field-item-container">
					{{#field_value_cells}}
						<div  class="mapping-field-item">
							{{>molecules/pandora/field-value}}
						</div>
					{{/field_value_cells}}
				</div>
			</td>
		</tr>
		<tr class="widget-expanded" {{#object_id}}object_id="{{.}}"{{/object_id}}>
			<td class="card-controls-expanded">
				<div class="card-label normal-colored indent">{{prefix}}:{{name}}</div>
				<div class="card-label normal-colored-dark indent">HardCode!</div>
				<div class="normal-colored values-collapse card-button">Values</div>
				<div class="normal-colored mapping-card-function card-button"><span class="mapping-card-f">f</span><span class="mapping-card-x">x</span></div>
				<div class="normal-colored if card-button">if</div>			
			</td>
		</tr>
		<tr class="widget-expanded" {{#object_id}}object_id="{{.}}"{{/object_id}}>
			<td class="mapping-card-values">
				<div class="mapping-field-item-container-expanded">
					{{#field_value_cells}}
						<div  class="mapping-field-item-expanded">
							{{>molecules/pandora/field-value}}
						</div>
					{{/field_value_cells}}
				</div>
			</td>
		</tr>
	 </table>
	 <div class="mapping-card-dropdown">
		 {{#dropdown}}{{>molecules/controls/dropdown-menu}}{{/dropdown}}
	 </div>
</div>