{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}


<section class="site-hero search-hero {{#content.hero_config}}{{brand_position}} {{brand_colour}} {{brand_opacity}}{{/content.hero_config}}" {{#content.hero_config}} style="background-image: url('{{hero_image}}');" {{/content.hero_config}} >

  <div class="hero-contents">
    <div class="searchbar">
    {{> molecules/components/search/search-form }}
    </div>

    <div class="strapline">
      {{{content.strapline}}}
    </div>
  </div>

  {{#content.hero_config}}
    {{>molecules/text/attribution}}
    {{>molecules/media/brand-svg-assets}}
  {{/content.hero_config}}

</section>

{{#content.important}}
<section class="promo-topcontent">
  <div class="lc">
    <h2><a href="{{url}}">{{text}}</a></h2>
  </div>
</section>
{{/content.important}}

<ul class="home-promo section promo-list">
{{#content.promoted}}
  <li class="list-item {{#wide}}list-item-wide{{/wide}}">
    {{> molecules/blocks/promo-module }}
  </li>
{{/content.promoted}}
</ul>

{{#content.news}}
<div class="section">
  <div class="lc">

  <h2 class="section-title">Europeana News <a class="link-more" href="{{ blogurl }}">More…</a></h2>

  <ul class="home-news cf">
    {{#items}}<li class="news-item">{{> molecules/blocks/link-block-image}}</li>{{/items}}
  </ul>
  </div>
</div>
{{/content.news}}

{{> organisms/sections/banner }}

{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
