{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}


<div role="main">
  {{>molecules/search/browse-breadcrumb.mustache}}
  <section class="static-header">
    <div class="lc">
      <h1 class="title">{{ content.title }}</h1>
      <p>{{ content.description }}</p>
    </div>
  </section>
</div>
<!-- End Main -->

<section class="channel-info section">
  {{#content.browse_entries}}
  <ul class="browse-entry-list lc">
    {{#items}}
    <li class="list-item">
      {{> molecules/blocks/browse-entry }}
    </li>
    {{/items}}
  </ul>
  {{/content.browse_entries}}
</section>
{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
