.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 94% 40%;
   height: 22px;
   overflow: hidden;
   width: 398px;
   padding-left:4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: ''
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 20px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 396px;
   -webkit-appearance: none;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue { 
	background-color: #3b8ec2; 
	color: #fff; 
}

select::-ms-expand {
    display: none;
}

input[type="text"] {
	width:400px;
}

input[type="radio"] {
	margin:4px;
}

label {
	vertical-align:middle;
	margin-bottom:0px;	
	padding-right:8px;
}

.datepicker,.datepicker-disabled {
	width:378px !important;
}

.dataprovider {
	width:378px !important;
}

.ui-datepicker-trigger {
	padding-bottom:4px;
}

.datepicker-disabled {
	background-color: #ebf4f9;
}