<table class="table-responsive-break" >
  <thead>
    <tr>
      <th scope="col">Table Heading 1</th>
      <th scope="col">Table Heading 2</th>
      <th scope="col">Table Heading 3</th>
      <th scope="col">Table Heading 4</th>
      <th scope="col">Table Heading 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Row Heading 1</th>
      <td data-title="Table Heading 1">Table Cell 1</td>
      <td data-title="Table Heading 2">Table Cell 2</td>
      <td data-title="Table Heading 3">Table Cell 3</td>
      <td data-title="Table Heading 4">Table Cell 4</td>
    </tr>
    <tr>
      <th scope="row">Row Heading 2</th>
      <td data-title="Table Heading 1">Table Cell 1</td>
      <td data-title="Table Heading 2">Table Cell 2</td>
      <td data-title="Table Heading 3">Table Cell 3</td>
      <td data-title="Table Heading 4">Table Cell 4</td>
    </tr>
    <tr>
      <th scope="row">Row Heading 3</th>
      <td data-title="Table Heading 1">Table Cell 1</td>
      <td data-title="Table Heading 2">Table Cell 2</td>
      <td data-title="Table Heading 3">Table Cell 3</td>
      <td data-title="Table Heading 4">Table Cell 4</td>
    </tr>
    <tr>
      <th scope="row">Row Heading 4</th>
      <td data-title="Table Heading 1">Table Cell 1</td>
      <td data-title="Table Heading 2">Table Cell 2</td>
      <td data-title="Table Heading 3">Table Cell 3</td>
      <td data-title="Table Heading 4">Table Cell 4</td>
    </tr>
  </tbody>
</table>



