#Spring
logging.config=/data/logging/log4j2.xml
#logging.config=log4j2.xml
server.error.whitelabel.enabled=false
spring.servlet.multipart.max-file-size=5MB
spring.servlet.multipart.max-request-size=5MB
spring.autoconfigure.exclude=\
  org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongoAutoConfiguration, \
  org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration, \
  org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration

#Truststore
truststore.path=
truststore.password=

#Socks Proxy
socks-proxy.enabled=
socks-proxy.host=
socks-proxy.port=
socks-proxy.username=
socks-proxy.password=

#Orchestration
metis-core.maxConcurrentThreads=1
metis-core.dpsMonitorCheckIntervalInSeconds=5
metis-core.dpsConnectTimeoutInMilliseconds=10000
metis-core.dpsReadTimeoutInMilliseconds=30000
metis-core.failsafeMarginOfInactivityInSeconds=5
metis-core.periodicFailsafeCheckInMilliseconds=60000
metis-core.periodicSchedulerCheckInMilliseconds=90000
metis-core.pollingTimeoutForCleaningCompletionServiceInMilliseconds=10000
#If a task passed this cap the task will be cancelled
metis-core.periodOfNoProcessedRecordsChangeInMinutes=30
metis-core.threadLimitThrottlingLevelWeak=16
metis-core.threadLimitThrottlingLevelMedium=8
metis-core.threadLimitThrottlingLevelStrong=4
#Use this to specify the FQDN where the application will be hosted under
metis-core.baseUrl=https://metis-core-rest.test.eanadev.org
#Use this to specify the maximum execution list length that is served by
#Metis Core (regardless on whether the list is paginated).
metis-core.maxServedExecutionListLength=200
metis-core.maxDepublishRecordIdsPerDataset=1000
#Use this to specify the default sampling size for Link Checking
metis-core.linkCheckingDefaultSamplingSize=1000
#Solr
metis-core.solrCommitPeriodInMinutes=15
# Authentication
metis-core.authenticationBaseUrl=
# CORS
metis-core.allowedCorsHosts=

#RabbitMq
rabbitmq.host=
rabbitmq.port=
rabbitmq.username=
rabbitmq.password=
rabbitmq.virtualHost=/
rabbitmq.queueName=UserWorkflowExecution
rabbitmq.highestPriority=10
rabbitmq.enableSsl=
rabbitmq.enableCustomTruststore=

#Mongo
mongo.hosts=
mongo.ports=
mongo.authenticationDatabase=
mongo.username=
mongo.password=
mongo.enableSsl=
mongo.database=metis-core
mongo.applicationName=metis-core-local

#Redis
redis.host=
redis.port=
redis.username=
redis.password=
redis.enableSsl=
redis.enableCustomTruststore=
redis.redisson.connectionPoolSize=16
redis.redisson.connectTimeoutInSeconds=60
redis.redisson.lockWatchdogTimeoutInSeconds=120
#Setting to -1 disables DNS monitoring
redis.redisson.dnsMonitorIntervalInSeconds=60
redis.redisson.idleConnectionTimeoutInSeconds=60
redis.redisson.retryAttempts=10

# ECloud
ecloud.baseUrl=
ecloud.dpsBaseUrl=
ecloud.provider=
ecloud.username=
ecloud.password=

#Validation parameters
validation.validationExternalSchemaZip=
validation.validationExternalSchemaRoot=
validation.validationExternalSchematronRoot=
validation.validationInternalSchemaZip=
validation.validationInternalSchemaRoot=
validation.validationInternalSchematronRoot=

#Actuator
management.endpoint.health.probes.enabled=true
management.health.livenessState.enabled=true
management.health.readinessState.enabled=true

#Elastic APM
elastic.apm.enabled=true
elastic.apm.recording=true
elastic.apm.instrument=true
elastic.apm.service_name=metis-core-local
elastic.apm.server_url=
elastic.apm.environment=local
elastic.apm.application_packages=eu.europeana
elastic.apm.log_level=ERROR
elastic.apm.capture_body=all
elastic.apm.capture_headers=true
elastic.apm.metrics_interval=5s

