#Orchestration
max.concurrent.threads=
dps.monitor.check.interval.in.secs=
dps.connect.timeout.in.millisecs=
dps.read.timeout.in.millisecs=
failsafe.margin.of.inactivity.in.secs=
periodic.failsafe.check.in.millisecs=
periodic.scheduler.check.in.millisecs=
redisson.lock.watchdog.timeout.in.secs=
polling.timeout.for.cleaning.completion.service.in.secs=

#Socks Proxy
socks.proxy.enabled=
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

#Truststore
truststore.path=
truststore.password=

#RabbitMq
rabbitmq.host=
rabbitmq.port=
rabbitmq.username=
rabbitmq.password=
rabbitmq.virtual.host=
rabbitmq.queue.name=
rabbitmq.highest.priority=
rabbitmq.enableSSL=

#Mongo
mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db=

#Redis
redis.host=
redis.port=0
redis.password=
redis.enableSSL=
#True if a custom certificate is used in the truststore defined above
redis.enable.custom.truststore=

solr.commit.period.in.mins=

#ECloud
ecloud.baseUrl=
ecloud.dps.baseUrl=
ecloud.provider=
ecloud.username=
ecloud.password=

#Validation
validation.external.schema.zip=
validation.external.schema.root=
validation.external.schematron.root=
validation.internal.schema.zip=
validation.internal.schema.root=
validation.internal.schematron.root=

#Authentication
authentication.baseUrl=

#CORS
allowed.cors.hosts=*

#Use this to specify the FQDN where the application will be hosted under
metis.core.baseUrl=
#In the combination of TEST and ACCEPTANCE, TEST=false, ACCEPTANCE=true
#For the production environment it should be false
metis.use.alternative.indexing.environment=