<h5>These icons are inline inside the _head super-global pattern and are available at all times</h5>

<div>
	<svg class="icon icon-facebook">
		<use xlink:href="#icon-facebook"></use>
	</svg>

	icon-facebook

</div>

<div>
	<svg class="icon icon-twitter">
		<use xlink:href="#icon-twitter"></use>
	</svg>

	icon-twitter

</div>

<div>
	<svg class="icon icon-pinterest">
		<use xlink:href="#icon-pinterest"></use>
	</svg>

	icon-pinterest

</div>

<div>
	<svg class="icon icon-googleplus">
		<use xlink:href="#icon-googleplus"></use>
	</svg>

icon-googleplus

</div>

<div>
	<svg class="icon icon-soundcloud">
		<use xlink:href="#icon-soundcloud"></use>
	</svg>

icon-soundcloud

</div>

<div>
	<svg class="icon icon-github">
		<use xlink:href="#icon-github"></use>
	</svg>

icon-github

</div>

<div>
	<svg class="icon icon-instagram">
		<use xlink:href="#icon-instagram"></use>
	</svg>

icon-instagram

</div>

<div>
	<svg class="icon icon-tumblr">
		<use xlink:href="#icon-tumblr"></use>
	</svg>

icon-tumblr

</div>

<div>
	<svg class="icon icon-delete">
		<use xlink:href="#icon-delete"></use>
	</svg>

icon-delete

</div>

<div>
	<svg class="icon icon-next">
		<use xlink:href="#icon-next"></use>
	</svg>

icon-next

</div>

<div>
	<svg class="icon icon-previous">
		<use xlink:href="#icon-previous"></use>
	</svg>

icon-previous

</div>

<div>
	<svg class="icon icon-check">
		<use xlink:href="#icon-check"></use>
	</svg>

icon-check

</div>

<div>
	<svg class="icon icon-help">
		<use xlink:href="#icon-help"></use>
	</svg>

icon-help

</div>

<div>
	<svg class="icon icon-tag">
		<use xlink:href="#icon-tag"></use>
	</svg>

icon-tag

</div>

<div>
	<svg class="icon icon-menu">
		<use xlink:href="#icon-menu"></use>
	</svg>

icon-menu

</div>

<div>
	<svg class="icon icon-linkout">
		<use xlink:href="#icon-linkout"></use>
	</svg>

icon-linkout

</div>

<div>
	<svg class="icon icon-search">
		<use xlink:href="#icon-search"></use>
	</svg>

icon-search

</div>

<div>
	<svg class="icon icon-settings">
		<use xlink:href="#icon-settings"></use>
	</svg>

icon-settings

</div>
