
<ul class="sg-icons inline-list">
	<li class="icon-license-cc"></li>
	<li class="icon-license-nc"></li>
	<li class="icon-license-nc-eu"></li>
	<li class="icon-license-nc-jp"></li>
	<li class="icon-license-sa"></li>
	<li class="icon-license-remix"></li>
	<li class="icon-license-pd"></li>
	<li class="icon-license-nd"></li>
	<li class="icon-license-sampling"></li>
	<li class="icon-license-sampling-plus"></li>
	<li class="icon-license-share"></li>
	<li class="icon-license-zero"></li>
	<li class="icon-license-by"></li>
</ul>
