
<ul class="sg-icons inline-list">
	<li class="icon-social-twitter"></li>
	<li class="icon-social-facebook"></li>
	<li class="icon-social-tumblr"></li>
	<li class="icon-social-linkedin"></li>
	<li class="icon-social-pinterest"></li>
	<li class="icon-social-googleplus"></li>
	<li class="icon-social-youtube"></li>
	<li class="icon-social-delicious"></li>
	<li class="icon-social-like"></li>
	<li class="icon-social-rss"></li>
	<li class="icon-social-share"></li>
	<li class="icon-social-android"></li>
	<li class="icon-social-apple"></li>

</ul>

