{{> atoms/iconography/svgicons-pro}}

{{> organisms/global/header}}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

		<div class="l-breadcrumbs">
			{{> molecules/navigation/breadcrumbs}}
		</div>
		
		<div id="maincontent" class="maincontent">


			<div class="l-twoup">

			 	<div class="l-photo">
					<img src="http://placeimg.com/300/300/tech" alt="Project Logo"/>
				</div><!--

			 --><div class="l-detail textcontent">

			 		<h1 class="title">Project name here</h1>

					<div class="item-meta-primary">
						{{> molecules-meta-link(linktext:"Link to project website") }}
					</div>

					<div class="item-meta-secondary">
						{{> molecules-item-date }} <span>to:</span> {{> molecules-item-date }}
						<br>
						{{> molecules-item-tags }}
					</div>


					<div class="prose">
					{{> organisms-article-short }}
					</div>

				</div>
			</div>

			<div class="section files">
				<h2>Downloads</h2>
				{{> molecules-file-list-moredata }}
			</div>

			{{> molecules-related-images(title: "Related") }}


		</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">
				{{> molecules-help-contact(title: "Need help?") }}
			</div>
		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->


{{> organisms/global/footer }}

