{{> atoms/iconography/svgicons-pro}}
{{> organisms-header }}

<main role="main" class="l-page">

<section class="page_header">
	<div class="lc">
    {{> molecules/navigation/breadcrumbs}}
  </div>
</section>


{{> molecules-block-content-header }}

<section class="grid_wrapper">
	<div class="grid">
		<div class="main-content">
			<div class="textcontent">

				<div class="articleheader">

					<div class="item-meta-primary">
						{{> molecules-item-author }}
						{{> molecules-item-readtime }}
					</div>

					<div class="item-meta-secondary">
						{{> molecules-item-date }}
						{{> molecules-item-tags }}
						{{> molecules-item-comments }}
					</div>

				</div>

				<div class="prose">
				{{> organisms-article-body }}
				</div>
			</div>


			{{> molecules-related-noimages(title: "Related Content") }}

		</div><!--

	 --><div class="sidebar">

        <div class="inner js-getstickywidth">

            {{> molecules-help-contact(title: "Questions?") }}


        </div>
		  </div>

	</div>
</section>

</main>
<!-- End Content -->

{{> organisms-footer(newsletter: true) }}
