{{> atoms/iconography/svgicons-pro}}
{{> organisms-header }}

<main role="main" class="l-page">

<section class="page_header">
	<div class="lc">
    {{> molecules/navigation/breadcrumbs}}
  </div>
</section>


{{> molecules-block-content-header }}

<section class="grid_wrapper">
	<div class="grid">
		<div class="main-content">
			<div class="textcontent">

				<h1>Site map</h1>



			<div id="sitemap" class="sitemap">
			<ul>
				<li><h2>Get involved</h2></li>
				<li>
					<ul>
						
						<li><a href="/get-involved/reasons-to-get-involved">Why Get Involved?</a></li>
						<li><a href="/get-involved/europeana-tech">Europeana Tech</a></li>
						<li>
							<ul>
								<li><a href="/get-involved/europeana-tech/contribute">Contribute</a></li>
								<li>
									<ul>
										<li><a href="/get-involved/europeana-tech/contribute/task-forces-1">Europeana Tech Task forces</a></li>
									</ul>
								</li>
								<li><a href="/get-involved/europeana-tech/europeana-tech-events">Europeana Tech events</a></li>
								<li><a href="/get-involved/europeana-tech/become-a-member">Become a member</a></li>
							</ul>
						</li>
						<li><a href="/get-involved/projects">Projects</a></li>
						<li>
							<ul>
								<li><a href="/get-involved/projects/project-list">Project list</a></li>
								<li>
									<ul>
										<li><a href="/get-involved/projects/project-list/europeana-creative">Europeana Creative</a></li>
										<li>
											<ul>
												<li><a href="/get-involved/projects/project-list/europeana-creative/pilots">Pilots</a></li>
												<li>
													<ul>
														<li><a href="/get-involved/projects/project-list/europeana-creative/pilots/tourism-pilot">Tourism Pilot</a></li>
														<li><a href="/get-involved/projects/project-list/europeana-creative/pilots/social-networks-pilot">Social Networks Pilot</a></li>
														<li><a href="/get-involved/projects/project-list/europeana-creative/pilots/natural-history-education-pilots">Natural History Education Pilot: Adventure Game</a></li>
														<li><a href="/get-involved/projects/project-list/europeana-creative/pilots/history-education-pilot-historiana-learning-section">History Education Pilot: Historiana Learning</a></li>
														<li><a href="/get-involved/projects/project-list/europeana-creative/pilots/design-pilot">Design Pilot</a></li>
														<li><a href="/get-involved/projects/project-list/europeana-creative/pilots/memory-match-natural-history-edition">Natural History Education Pilot: Memory Match</a></li>
													</ul>
												</li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/creative-events">Creative Events</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/creative-blog">Creative Blog</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/ecreative-project-partners">eCreative project partners</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/about-europeana-creative">About eCreative</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/challenges">Challenges</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/getting-started-with-europeana-data">Getting Started with Europeana Data</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-creative/product-documents">eCreative project documents</a></li>
											</ul>
										</li>
										<li><a href="/get-involved/projects/project-list/europeana-cloud">Europeana Cloud</a></li>
										<li>
											<ul>
												<li><a href="/get-involved/projects/project-list/europeana-cloud/ecloud-blog">eCloud Blog</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-cloud/ecloud-events">eCloud events</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-cloud/communication-tool">Communication Tool</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-cloud/newsletter">Newsletter</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-cloud/partners-work-packages">About eCloud</a></li>
												<li><a href="/get-involved/projects/project-list/europeana-cloud/ecloud-project-documents">eCloud project documents</a></li>
											</ul>
										</li>
										
									</ul>
								</li>
								<li><a href="/get-involved/projects/managing-europeana-projects">Managing Europeana Projects</a></li>
								<li><a href="/get-involved/projects/image-grid">Resources &amp; PR tools</a></li>
								<li><a href="/get-involved/projects/project-faqs">Project FAQs</a></li>
								
							</ul>
						</li>
						<li><a href="/get-involved/our-network">Our Network</a></li>
						<li>
							<ul>
								<li><a href="/get-involved/our-network/task-forces">Task forces</a></li>
								<li><a href="/get-involved/our-network/tu-quidem-reddes">Sign-up for the Network</a></li>
								<li><a href="/get-involved/our-network/network-documents">Network documents</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><h2>Share your data</h2></li>
				<li>
					<ul>
						<li><a href="/share-your-data/provider-faqs">Provider FAQs</a></li>
						<li><a href="/share-your-data/legal-requirements">Legal requirements</a></li>
						<li><a href="/share-your-data/how-to-provide-data">How to Provide Data</a></li>
						<li><a href="/share-your-data/be-a-data-provider-1">Become a Data Provider</a></li>
						<li><a href="/share-your-data/technical-requirements">Tech requirements</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><h2>Use our data</h2></li>
				<li>
					<ul>
						<li><a href="/use-our-data/best-practices-for-events">Best practices</a></li>
						<li><a href="/use-our-data/use-our-api">Use our API</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><h2>More info</h2></li>
				<li>
					<ul>
						<li><a href="/blogposts">Blog</a></li>
						<li><a href="/publications">Publications</a></li>
						<li><a href="/events">Events</a></li>
						<li><a href="/jobs">Jobs</a></li>
						<li><a href="/about-us">About us</a></li>
						<li>
							<ul>
								<li><a href="/about-us/staff">Staff</a></li>
								<li><a href="/about-us/our-governance-structure">Who We Are</a></li>
								<li><a href="/about-us/how-we-work">How We Work</a></li>
								<li><a href="/about-us/advocacy">Advocacy</a></li>
							</ul>
						</li>
						<li><a href="/press">Press</a></li>
						<li>
							<ul>
								<li><a href="/press/press-releases">Press releases</a></li>
								<li><a href="/press/europeana-in-the-news">Europeana in the News</a></li>
								<li><a href="/press/factsfigures">Facts&amp;Figures</a></li>
								<li><a href="/press/newsletters">Newsletters</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><h2>Explore Europeana</h2></li>
				<li>
					<ul>
						<li><a href="#">Search Portal</a></li>
						<li><a href="#">Labs'</a></li>
						<li><a href="#">1914-1918</a></li>
						<li><a href="#">End user blog</a></li>
					</ul>
				</li>
			</ul>
			</div>
			</div>


			{{> molecules-related-noimages(title: "Next steps") }}

		</div><!--

	 --><div class="sidebar">

        <div class="inner js-getstickywidth">

            {{> molecules-help-contact(title: "Need help?") }}

            <div class="js-sticky">
            {{> molecules-tertiary-nav }}
            </div>

        </div>
		  </div>

	</div>
</section>

</main>
<!-- End Content -->

{{> organisms-footer(newsletter: true) }}
