{{> atoms/iconography/svgicons-pro}}

{{> organisms/global/header}}


<main role="main">


{{> molecules-block-content-header }}


<div class="lc">
<div class="grid grid--rev"><!--Start main content 

 --><div class="main-content prose">
	 	<section class="section">
	 		{{> organisms-article-body }}
	 	</section>

		<div class="section next-actions">
			<h4>View this item in:</h4>
			<a href="#" title="View in the API Console" class="btn">API Console</a>
			<a href="#" title="View in the API Console" class="btn">Portal</a>
		</div>

		<div class="section item-meta-secondary">
			{{> molecules-item-date }}
			{{> molecules-item-tags }}
		</div>

	</div><!-- End main content 

Start navigation
 --><div class="sidebar">
		{{> molecules-tertiary-nav }}
	</div>
</div>
</div>


</main>
<!-- End Content -->

{{> organisms-footer }}

