{{> atoms/iconography/svgicons-pro}}
{{> organisms-header }}

<main role="main" class="l-page">

<section class="page_header">
	<div class="lc">
    {{> molecules/navigation/breadcrumbs}}
  </div>
</section>


{{> molecules-block-content-header }}

<section class="grid_wrapper">
	<div class="grid">
		<div class="main-content">
			<div class="textcontent prose">

				{{> organisms-article-body }}
			</div>

			<div class="section files">
				<h2>Attachments </h2>
				{{> molecules-file-list-moredata }}
			</div>


			{{> molecules-file-browser(title: "Files")}}

			{{> molecules-related-noimages(title: "Related Content") }}


		</div><!--

	 --><div class="sidebar">

        <div class="inner js-getstickywidth">

            {{> molecules-help-contact(title: "Questions?") }}

            <div class="js-sticky">
				      {{> molecules/navigation/nav-secondary }}
				    </div>

        </div>
		  </div>

	</div>
</section>

</main>
<!-- End Content -->

{{> organisms/global/footer }}
