<div class="pdf-viewer">
	<button id="pdfjs-prev">Previous</button>
	<button id="pdfjs-next">Next</button>
	&nbsp; &nbsp;
	<span>page: <span id="pdfjs-page-number"></span> / <span id="pdfjs-page-count"></span></span>
	<canvas id="pdfjs-canvas" data-src="media/compressed.tracemonkey-pldi-09.pdf" />
</div>
