{{# debug }}
{{! Debug template }}
    {{> atoms/utility/debug }}
{{/ debug }}

<!-- Start Footer -->
<footer class="footer v2" role="contentinfo">
  <div class="lc">
    <div class="grid">
      <div class="l-contact">
        <div class="l-mission">
          <h4 class="title">{{i18n.global.mission-title}}</h4>
          <p>{{i18n.global.mission}}</p>
        </div>
      </div>
      <div class="l-content">
        <div class="l-sitemap cf grid l-linklist">
          {{# navigation.footer.linklist1 }}
            <div class="margin-bottom">
              {{# title }}
                <h4 class="title">{{ title }}</h4>
              {{/ title }}
              {{^ title }}
                <h4 class="title">Links</h4>
              {{/ title }}
              <ul>
                {{# items}}
                  <li class="cf">
                    <a href="{{url}}" class="item-line">
                      {{#text}}<div class="link-text">{{text}}</div> {{/text}}
                      {{#number}}<span class="link-number">{{number}}</span>{{/number}}
                      {{#date}}<span class="link-date">{{date}}</span>{{/date}}
                    </a>
                  </li>
                {{/ items}}
              </ul>
            </div>
          {{/ navigation.footer.linklist1 }}

          {{# navigation.footer.linklist2 }}
        
            <div class="linklist l-linklist">
              <div class="inner">
                {{# title }}
                  <h4 class="title">{{ title }}</h4>
                {{/ title }}
                {{^ title }}
                  <h4 class="title">Links</h4>
                {{/ title }}
                <ul>
                  {{# items}}
                    <li class="cf">
                      <a href="{{url}}" class="item-line">
                          {{#text}}<div class="link-text">{{text}}</div> {{/text}}
                          {{#number}}<span class="link-number">{{number}}</span>{{/number}}
                          {{#date}}<span class="link-date">{{date}}</span>{{/date}}
                      </a>
                    </li>
                  {{/ items}}
                </ul>
              </div>
            </div>
          {{/ navigation.footer.linklist2 }}
        </div>
        <div class="grid">
          <div class="l-othersites">
            {{# navigation.footer.othersites }}
            {{> molecules/navigation/linklist-with-title }}
            {{/ navigation.footer.othersites }}
          </div>
        </div>
      </div><!--
    --><div class="l-nextsteps">
         {{# page_config.newsletter }}
           <div class="signup">
             {{> molecules/forms/newsletter }}
           </div>
         {{/ page_config.newsletter }}
         {{# navigation.footer.social }}
           {{> molecules/navigation/social-links }}
         {{/ navigation.footer.social }}
       </div>
     </div>
   </div>

   <div class="sub-footer lc">
     {{# navigation.footer.subfooter }}
     <ul class="nav">
       {{#items}}<li><a href="{{url}}">{{text}}</a></li>{{/items}}
     </ul>
     {{/ navigation.footer.subfooter }}
     <p class="copyright">Co-funded by the European Union.</p>
   </div>
</footer>
<!-- End Footer -->
