
<div class="search-global" id="searcharea">
	<div class="inner">

	<form action="#" id="search_box">
		<input class="js-global-search js-placeholder" type="text" id="search" name="search" placeholder="Search Europeana"/>
		<button type="submit" class="search_btn">
			<svg class="icon icon-search">
				<use xlink:href="#icon-search"></use>
			</svg>
			<span>Search</span>
		</button>
	</form>

	</div>
</div>