<div class="object-nav-search item-nav-search">
  <div class="content">
    <form class="search-multiterm" action="{{form_search.action}}">
      <div class="item-nav-input js-hitarea">
        <input class="item-search-input" type="text" title="Search" name="q">
      </div>
      <button type="submit" class="item-nav-submit">
       <svg class="icon icon-search">
           <use xlink:href="#icon-search"></use>
        </svg>
        <span class="is-vishidden">{{i18n.global.search-area.search-button-image-alt}}</span>
      </button>
    </form>
  </div>
  <button class="item-nav-show">
    <svg class="icon icon-search">
      <use xlink:href="#icon-search"></use>
    </svg>
  </button>
</div>