<p class="is-error">This is what error text looks like</p>
<p class="is-valid">This is what valid text looks like</p>
<p class="is-warning">This is what warning text looks like</p>
<p class="is-information">This is what information text looks like.</p>