<div class="related-items">
	<h4>{{title}}</h4>

	<ul class="l-relatedlinks">
	{{#listItems.three}}<li class="related-item">{{> molecules-link-block-full(excerpt: true) }}</li>{{/listItems.three}}
	</ul>
</div>