<div class="thumbnails">
	<h4>{{title}}</h4>

	<ul class="l-grid-media {{ styleModifier }}">
	{{#listItems.twelve}}
		<li>{{> molecules-block-thumb }}</li>
	{{/listItems.twelve}}

	<li class="l-placeholder"></li>
	<li class="l-placeholder"></li>
	<li class="l-placeholder"></li>
	<li class="l-placeholder"></li>
	<li class="l-placeholder"></li>
	</ul>
</div>