{{#social}}
  <section class="channel-social section">
    <h4>{{social_title}}:</h4>
    <ul class="social-share">
      {{#twitter}}
        <li>
          <a class="icon-soundcloud" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-twitter">
              <use xlink:href="#icon-twitter"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/twitter}}
      {{#facebook}}
        <li>
          <a class="icon-social" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-facebook">
              <use xlink:href="#icon-facebook"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/facebook}}
      {{#googleplus}}
        <li>
          <a class="icon-social" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-googleplus">
              <use xlink:href="#icon-googleplus"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/googleplus}}
      {{#instagram}}
        <li>
          <a class="icon-social" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-instagram">
              <use xlink:href="#icon-instagram"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/instagram}}
      {{#pinterest}}
        <li>
          <a class="icon-social" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-pinterest">
              <use xlink:href="#icon-pinterest"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/pinterest}}
      {{#soundcloud}}
        <li>
          <a class="icon-soundcloud" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-soundcloud">
              <use xlink:href="#icon-soundcloud"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/soundcloud}}
      {{#tumblr}}
        <li>
          <a class="icon-soundcloud" {{#url}}href="{{.}}"{{/url}} target="_blank">
            <svg class="icon icon-tumblr">
              <use xlink:href="#icon-tumblr"></use>
            </svg>
            {{#text}}<span class="share-name is-vishidden">{{.}}</span>{{/text}}
          </a>
        </li>
      {{/tumblr}}
    </ul>
  </section>
{{/social}}
