<ul class="button-bar button-bar-small">
{{#items}}
   <li class="button-bar__item">
     <a href="{{url}}" class="button-bar__button {{#is_current}}is-active{{/is_current}}">
     {{#icon_grid}}
       <svg class="icon icon-view-grid">
        <use xlink:href="#icon-view-grid"></use>
        </svg>
    {{/icon_grid}}
    {{#icon_list}}
       <svg class="icon icon-view-list">
        <use xlink:href="#icon-view-list"></use>
        </svg>
    {{/icon_list}}
        {{text}}
     </a>
   </li>
{{/items}}
</ul>