{{!

FILTER COMPONENT - SIMPLE

Can be configured by the injected data to behave as a single selection filter (radio buttons) or as a multiple selection filter (checkboxes).

Default status:
Multiple select (checkboxes)

Single selection mode (radio buttons):
To trigger single selection mode set
"select_one" : true

If injected data isn't present, the default is displayed and false is assumed.
(There's no need to output data like: "select_one" : false or "is_disabled": false )


Configuration options and content model:
# # # # # # # # # # # # # # # #

"filters":[
    {
        "title":"My Filter",    // Title of the filter group eg. Artist
        "simple": true,         // Selects the Simple filter type - this one
        "select_one" : true,    // Selects the single selected option - only one selected at a time - behaves like radio buttons
        "items": [              // Array of filterable options - visible on initial load
            {
                "url":"http://linktofilterapplied",     // The url to go to with the filter applied - fallback for no js use case
                "text": "My option name",               // The name of the option eg. Rembrandt
                "num_results": "1234",                  // number of results in the filtered set - can be a string or int eg. "15K" or 10000
                "is_checked": true,                     // checked/selected state of the option
                "is_disabled": true                     // enabled/disabled state of the option
            },
            ...Add more visible items here
        ],
        "extra_items": {        // Extra items - hidden on initial load
            "items": [          // Array of options as above
                {
                    "url":"http://europeana.eu",
                    "text": "Extra Label",
                    "num_results": "15K"
                },
                ...Add more items here
            ]
        }
    },
    ...Add more filters here
]

# # # # # # # # # # # # # # # #



}}
<div class="filter filter-advanced {{#select_one}}radiobuttons{{/select_one}}{{^select_one}}checkboxes{{/select_one}}">


    {{#advanced_items}}
    <div class="filter-extra-adv js-showhide-panel is-jshidden">
        {{# title }}<div class="filter-name" data-filter-name="{{name}}">{{ . }}{{#icon_link}} <a href="{{link_url}}"><svg class="icon {{icon}}"><use xlink:href="#{{icon}}"></use></svg></a>{{/icon_link}}</div>{{/ title }}

        <ul class="filter-list filter-wrap">
        {{#items}}
            <li>
                {{> molecules/controls/filter-boolean }}
            </li>
        {{/items}}
        </ul>
    </div>
    {{/advanced_items}}

    {{#advanced_items}}
        <a class="js-showhide filter-moreless" href="#" data-text-swap="{{i18n.site.results.list.less_adv}} {{title}}">{{i18n.site.results.list.more_adv}}<span class="is-vishidden"> {{title}}</span></a>
    {{/advanced_items}}

</div>
