<div class="filter filter-date {{^filter_open}} filter-closed{{/filter_open}}">
  <div class="filter-name" data-filter-name="date">{{ title }}{{#icon_link}} <a href="{{link_url}}"><svg class="icon {{icon}}"><use xlink:href="#{{icon}}"></use></svg></a>{{/icon_link}}</div>
  <form action="{{form.action_url}}" id="date-facet-form">
  <fieldset>
    {{#form.hidden_inputs}}<input type="hidden" name="{{name}}" value="{{value}}">{{/form.hidden_inputs}}


    {{> molecules/navigation/sparkline }}

    <div class="filter-controls">
      <div class="control-group date from">
        <label for="date-range-start">{{i18n.global.facet.year.from}}</label>
        <input id="date-range-start" name="{{range.start.input_name}}" type="number" autocomplete="off" value="{{range.start.input_value}}">
      </div>

      <div class="control-group date to">
        <label for="date-range-end">{{i18n.global.facet.year.to}}</label>
        <input id="date-range-end" name="{{range.end.input_name}}" type="number" autocomplete="off" value="{{range.end.input_value}}">
      </div>

      <div class="control-group submit">
        <button type="submit" form="date-facet-form" value="Submit">
          <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
        </button>
      </div>
    </div>

  </fieldset>
  </form>
</div>
