
<ul class="social-share">
  {{#facebook}}
  <li>
  <a class="icon-social" href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank">
    <svg class="icon icon-facebook">
      <use xlink:href="#icon-facebook"></use>
    </svg>
    <span class="share-name is-vishidden">Share to Facebook</span>
  </a>
  </li>
  {{/facebook}}

  {{#twitter}}
  <li>
  <a href="https://twitter.com/intent/tweet?text={{url}}" target="_blank">
    <svg class="icon icon-twitter">
      <use xlink:href="#icon-twitter"></use>
    </svg>
    <span class="share-name is-vishidden">Share to Twitter</span>
  </a>
  </li>
  {{/twitter}}

  {{#pinterest}}
  <li>
   <a class="icon-social pinit" href= "https://www.pinterest.com/pin/create/button/" data-pin-custom="true">
    <svg class="icon icon-pinterest">
      <use xlink:href="#icon-pinterest"></use>
    </svg>
    <span class="share-name is-vishidden">Share to Pinterest</span>
  </a>
  </li>

  {{/pinterest}}

  {{#googleplus}}
  <li>
  <a href="https://plus.google.com/share?url={{url}}" target="_blank">
    <svg class="icon icon-googleplus">
      <use xlink:href="#icon-googleplus"></use>
    </svg>
    <span class="share-name is-vishidden">Share to Google Plus</span>
  </a>
  </li>
  {{/googleplus}}

  {{#tumblr}}
    <li>
      <a class="tumblr-share-button" href="https://www.tumblr.com/share" target="_blank">
        <svg class="icon icon-tumblr">
          <use xlink:href="#icon-tumblr"></use>
        </svg>
        <span class="share-name is-vishidden">Share to Tumblr</span>
      </a>
    </li>
  {{/tumblr}}

</ul>