<div class="destination-links">
  <h4>View this item in:</h4>
  <a href="#" title="View in the Destination" class="btn">Destination Link</a>
  <a href="#" title="View in the Destination" class="btn">Destination Link</a>
</div>
