{{! 
Pagination module

Pagination should look like this: (current page is *this one* )

If page set is less than 7 pages        =>      < *1* 2 3 4 5 6 >
If page set is greater than 7 pages     =>      < *1* 2 3 4 5 6 7 ... 100 >
If current page is in first 7 results   =>      < 1 2 *3* 4 5 6 7 ... 100 >
If current page is > 7 && current page < last page index - 7 =>  < 1 ... 15 16 17 *18* 19 20 21 ... 100 >
If current page > lastpage - 7          =>      < 1  ... 94 95 96 *97* 98 99 100 >

Configuration options and content model:
# # # # # # # # # # # # # # # # 

"navigation":{      // pagination should be within the navigation object
    "pagination":{
        "prev_url" : "prevurl",     // url for the previous page button
        "next_url" : "nexturl",     // url for the next page button
        "is_first_page" : false,    // Set to true if the current page is the first page
        "is_last_page" : false,     // Set to true if the current page is the last page
        "pages": [
            { "url":"linkhere", "index":"1" },
            { "separator": true },              // Add a seperator here if the first page is not in the central page set
            { "url":"linkhere", "index":"7" },      
            { "url":"linkhere", "index":"8"}, 
            { "url":"linkhere", "index":"9"}, 
            { "url":"linkhere", "index":"10", "is_current":true },  // set is_current to true for the current page
            { "url":"linkhere", "index":"11" },
            { "url":"linkhere", "index":"12" },
            { "url":"linkhere", "index":"13" },
            { "separator": true },              // Add a seperator here if the last page is not in the central page set
            { "url":"linkhere", "index":"250" }
        ]
    }
}
# # # # # # # # # # # # # # # # 

}}

{{#navigation.pagination}}
  <ol class="pagination">
    {{! if it's the first page disable previous button }}
      <li class="arrow {{#is_first_page}}is-disabled{{/is_first_page}}">
        <a href="{{prev_url}}" >
          ←
        </a>
      </li>

    {{#pages}}
        {{^separator}}
        <li {{#is_current}}class="is-current"{{/is_current}}>
          <a href="{{url}}">{{index}}</a>
        </li>
        {{/separator}}
        {{#separator}}
        <li class="is-disabled"><a href="">&hellip;</a></li>
        {{/separator}}
    {{/pages}}

    {{! if it's the last page disable next button }}
    <li class="{{#is_last_page}}is-disabled{{/is_last_page}}">
        <a href="{{next_url}}">
          →
        </a>
    </li>
  </ol>
{{/navigation.pagination}}