

<div class="social-links">

  <h4 class="title">{{i18n.global.find-us-elsewhere}}:</h4>

{{# facebook }}
  <a class="icon-social" href="https://www.facebook.com/Europeana">
    <svg class="icon icon-facebook">
      <use xlink:href="#icon-facebook"></use>
    </svg>
    <span class="is-vishidden">Facebook</span>
  </a>
{{/ facebook }}

{{# pinterest }}
  <a class="icon-social" href="https://www.pinterest.com/europeana/">
    <svg class="icon icon-pinterest">
      <use xlink:href="#icon-pinterest"></use>
    </svg>
    <span class="is-vishidden">Pinterest</span>
  </a>
{{/ pinterest }}

{{# twitter }}
  <a href="https://twitter.com/europeanaeu" title="Twitter">
    <svg class="icon icon-twitter">
      <use xlink:href="#icon-twitter"></use>
    </svg>
    <span class="is-vishidden">Twitter</span>
  </a>
{{/ twitter }}

{{# googleplus }}
  <a class="icon-social" href="https://plus.google.com/+europeana">
    <svg class="icon icon-googleplus">
      <use xlink:href="#icon-googleplus"></use>
    </svg>
    <span class="is-vishidden">Google Plus</span>
  </a>
{{/ googleplus }}

{{#linkedin}}
  <a class="icon-social" href="https://www.linkedin.com/groups/Europeana-134927/about">
    <svg class="icon icon-linkedin">
      <use xlink:href="#icon-linkedin"></use>
    </svg>
    <span class="is-vishidden">LinkedIn</span>
  </a>
{{/linkedin}}

{{#github}}
  <a class="icon-social" href="https://github.com/europeana">
    <svg class="icon icon-github">
      <use xlink:href="#icon-github"></use>
    </svg>
    <span class="is-vishidden">Github</span>
  </a>
{{/github}}

{{# tumblr}}
  <a class="icon-social" href="https://www.tumblr.com/">
    <svg class="icon icon-tumblr">
      <use xlink:href="#icon-tumblr"></use>
    </svg>
    <span class="is-vishidden">Tumblr</span>
  </a>
{{/ tumblr}}

{{# instagram}}
  <a class="icon-social" href="https://www.instagram.com/">
    <svg class="icon icon-instagram">
      <use xlink:href="#icon-instagram"></use>
    </svg>
    <span class="is-vishidden">Instagram</span>
  </a>
{{/ instagram}}

</div>
