#Spring
logging.config=/data/logging/log4j2.xml
#logging.config=log4j2.xml
server.error.whitelabel.enabled=false

#Truststore
truststore.path=/data/certificates/custom-truststore.jks
truststore.password=

#Zoho configuration
zoho.initialGrantToken=
zoho.refreshToken=
zoho.currentUserEmail=
zoho.clientId=
zoho.clientSecret=
zoho.redirectUri=

#Hibernate configuration
hibernate.dialect=org.hibernate.dialect.PostgreSQL82Dialect
hibernate.connection.driver_class=org.postgresql.Driver
hibernate.connection.url=jdbc:postgresql://
hibernate.connection.username=
hibernate.connection.password=
hibernate.c3p0.min_size=5
hibernate.c3p0.max_size=20
hibernate.c3p0.timeout=1800
hibernate.c3p0.max_statements=50

#Miscellaneus
metis-authentication.accessTokenExpireTimeInMinutes=10
metis-authentication.allowedCorsHosts=*

#Actuator
management.endpoint.health.probes.enabled=true
management.health.livenessState.enabled=true
management.health.readinessState.enabled=true

# Elastic APM
elastic.apm.enabled=true
elastic.apm.recording=true
elastic.apm.instrument=true
elastic.apm.service_name=metis-authentication
elastic.apm.server_url=
elastic.apm.environment=local
elastic.apm.application_packages=eu.europeana
elastic.apm.log_level=ERROR
elastic.apm.capture_body=all
elastic.apm.capture_headers=true
elastic.apm.metrics_interval=5s
