<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <!-- ssl=true enables ssl, sslfactory=org.postgresql.ssl.DefaultJavaSSLFactory uses the truststore to check for certificates, that should be used in this application, sslmode=verify-ca performs verification of the certificate as well.
         Use ssl from localhost too with the corresponding custom truststore-->
    <property name="hibernate.connection.url">jdbc:postgresql://exampl.location.of.psql.server:port/database?ssl=true&amp;sslfactory=org.postgresql.ssl.DefaultJavaSSLFactory&amp;sslmode=verify-ca</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
    <property name="hibernate.connection.username">username</property>
    <property name="hibernate.connection.password">password</property>
  </session-factory>
</hibernate-configuration>