<h2 class="delta">Responsive Embedded Video (Youtube/Vimeo etc.)</h2>

<div class="video-fluid">
<iframe src="https://www.youtube.com/embed/qKfiNKAUbr4" frameborder="0" allowfullscreen></iframe>
</div>


<h2 class="delta">HTML5 Video</h2>

<video width="640" height="360" controls="">
	<source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
	<source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm">
	<source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg">
	<img src="" width="640" height="360" alt="Big Buck Bunny" title="No video playback capabilities, please download">
</video>