#Spring
spring.servlet.multipart.max-file-size=5MB
spring.servlet.multipart.max-request-size=5MB
spring.autoconfigure.exclude=\
  org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongoAutoConfiguration, \
  org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration, \
  org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration

#Socks Proxy
socks.proxy.enabled=
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

#Mongo
mongo.hosts=
mongo.port=
mongo.username=
mongo.password=
mongo.application.name=
entity.db=
vocabulary.db=

#The allowed domains for vocabularies loading without the scheme(always validated against https). e.g. raw.githubusercontent.com
allowed.url.domains=

# Dereferencing cache cron expressions,
# refer to Spring Framework CronExpression for documentation
dereference.purge.all.frequency=@monthly
# purge empty xml
dereference.purge.emptyxml.frequency=@daily