#Socks Proxy
socks.proxy.enabled=
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.db=
mongo.enableSSL=

solr.hosts=

zookeeper.hosts=
zookeeper.ports=
zookeeper.chroot=
zookeeper.default.collection=
zookeeper.timeout.in.secs=

data.checker.portal.url=
data.checker.executor.threadCount=

xslt.cache.expiration.in.sec=
xslt.cache.unused.cleanup.in.min=

validation.schema.before_transformation=EDM-EXTERNAL
validation.schema.after_transformation=EDM-INTERNAL

metis.core.uri=
