{{> atoms/iconography/svgicons-pro}}
{{> organisms-header }}

<main role="main">

<section class="page_header">
	<div class="lc">
    {{> molecules/navigation/breadcrumbs}}
  </div>
</section>


{{> molecules-block-content-header }}

<section class="grid_wrapper">
	<div class="grid">
		<div class="main-content">
			<ul class="results-list">
				{{#listItems.ten}}
					{{> molecules-pro-listitem }}
				{{/listItems.ten}}
			</ul>


			{{> molecules-pagination }}

		</div><!--

	 --><div class="sidebar">

			<div class="subnav">

				<div class="sortby">
				    <label for="list_sortby" class="h4">Sort by:</label>
				    <select id="list_sortby">
				            <option>Date</option>
				            <option>Option Two</option>
				            <option>Option Three</option>
				    </select>
				</div>


				<h4>Filter by:</h4>
				{{> molecules-tags-large }}

			</div>

			{{> molecules-tertiary-nav }}
		</div>

	</div>
</section>

</main>
<!-- End Content -->

{{> organisms-footer(newsletter: true) }}
