{{> atoms/iconography/svgicons-pro}}

{{> organisms/global/header}}



<!-- Start content -->
<main role="main" class="l-page event-detail">



<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

    <section class="page_header">
      <div class="lc">
        {{> molecules/navigation/breadcrumbs}}
      </div>
    </section>

		<div class="l-content">

		{{> organisms-event-map }}

		<div id="maincontent" class="maincontent">
			<div class="textcontent">

				<div class="articleheader">
					<div class="cf">
						{{> molecules-event-date}}
						<h1 class="title">{{ headline.medium }}</h1>
					</div>

					{{> molecules-address }}

				</div>

				<div class="prose">
					<!-- cms wysiwyg page content starts -->
					<p><a href="#">Aliquam erat volutpat.</a> Mauris vulputate scelerisque feugiat. Cras a erat a diam venenatis aliquam. Sed tempus, purus ac pretium varius, risus orci sagittis purus, quis auctor libero magna nec magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eros dolor, rutrum eu sollicitudin eu, commodo at leo. Suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus. Maecenas eu urna adipiscing neque dictum mollis suscipit in augue. Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

					<h2>Agenda</h2>
					<ul>
						<li>10—12 Welcome</li>
						<li>12—14 Session name here</li>
						<li>14—15 Session name here</li>
						<li>15—16 Session name here</li>
						<li>16—17 Session name here</li>
					</ul>
					<!-- cms wysiwyg page content ends -->
				</div>


			</div>


			<div class="section speakers">
				<h2>Speakers</h2>

				<ul class="people-list">
				{{#listItems.six}}<li>{{> molecules-person-block-small }}</li>{{/listItems.six}}
				</ul>
			</div>

			<div class="section files">
				<h2>Files</h2>
				{{> molecules-file-list-moredata }}
			</div>



			{{> molecules-related-noimages(title: "You might also like:") }}



		</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner-map js-getstickywidth">

            {{> molecules-help-contact(title: "Questions") }}

            <div class="js-sticky">
				      {{> molecules/navigation/nav-secondary }}
				    </div>

			</div>

		</div>
	</div>
	<!-- End grid -->
</div>




</main>
<!-- End Content -->


{{> organisms/global/footer }}

