{{>atoms/iconography/global}}
{{>atoms/iconography/svgicons-pro}}
{{>atoms/iconography/svgicons-search}}

{{> atoms/iconography/svg-icon-home}}
{{> atoms/iconography/svg-icon-down}}

<h5>General web</h5>
<ul class="sg-icons inline-list">
  <li class="icon-search"></li>
  <li class="icon-link"></li>
  <li class="icon-lock"></li>
  <li class="icon-unlock"></li>
  <li class="icon-key"></li>
  <li class="icon-ban"></li>
  <li class="icon-target"></li>
  <li class="icon-rss"></li>
  <li class="icon-wifi"></li>
  <li class="icon-backspace"></li>
  <li class="icon-check"></li>
  <li class="icon-delete"></li>
  <li class="icon-plus"></li>
  <li class="icon-hyphen"></li>
  <li class="icon-action"></li>
  <li class="icon-redirect"></li>
  <li class="icon-retweet"></li>
  <li class="icon-logout"></li>
  <li class="icon-settings"></li>
  <li class="icon-dashboard"></li>
  <li class="icon-flask"></li>
  <li class="icon-lightbulb"></li>
  <li class="icon-loading"></li>
  <li class="icon-plane"></li>
  <li class="icon-briefcase"></li>
  <li class="icon-cursor"></li>
  <li class="icon-crosshair"></li>
  <li class="icon-zoomin"></li>
  <li class="icon-zoomout"></li>
  <li class="icon-view"></li>
  <li class="icon-box"></li>

  <li class="icon-home"></li>
  <li>HOME</li>
  <li>
    <svg class="icon icon-home">
      <use xlink:href="#icon-home"></use>
    </svg>
  </li>


</ul>

<h5>Feedback</h5>
<ul class="sg-icons inline-list">
  <li class="icon-help"></li>
  <li class="icon-info"></li>
  <li class="icon-alert"></li>
  <li class="icon-caution"></li>
</ul>

<h5>Cloud/Upload/Download</h5>
<ul class="sg-icons inline-list">
  <li class="icon-downloadcloud"></li>
  <li class="icon-download"></li>
  <li class="icon-uploadcloud"></li>
  <li class="icon-upload"></li>
  <li class="icon-connection"></li>
  <li class="icon-fork"></li>
  <li class="icon-merge"></li>
  <li class="icon-transfer"></li>
  <li class="icon-refresh"></li>
  <li class="icon-sync"></li>
  <li class="icon-cloud"></li>
  <li class="icon-droplet"></li>
</ul>

<h5>Flagging</h5>
<ul class="sg-icons inline-list">
  <li class="icon-tag"></li>
  <li class="icon-flag"></li>
  <li class="icon-bookmark"></li>
  <li class="icon-like"></li>
  <li class="icon-dislike"></li>
  <li class="icon-heart"></li>
  <li class="icon-halfheart"></li>
  <li class="icon-star"></li>
  <li class="icon-halfstar"></li>
</ul>

<h5>Shopping</h5>
<ul class="sg-icons inline-list">
  <li class="icon-cart"></li>
  <li class="icon-creditcard"></li>
  <li class="icon-dollarsign"></li>
</ul>

<h5>Maps &amp; wayfinding</h5>
<ul class="sg-icons inline-list">
  <li class="icon-buildings"></li>
  <li class="icon-warehouse"></li>
  <li class="icon-globe"></li>
  <li class="icon-navigate"></li>
  <li class="icon-compass"></li>
  <li class="icon-signpost"></li>
  <li class="icon-map"></li>
  <li class="icon-location"></li>
  <li class="icon-pin"></li>
  <li class="icon-pin"></li>
</ul>

<h5>Graphs</h5>
<ul class="sg-icons inline-list">
  <li class="icon-barchart"></li>
  <li class="icon-piechart"></li>
</ul>

<h5>Communication</h5>
<ul class="sg-icons inline-list">
  <li class="icon-phone"></li>
  <li class="icon-phonedisabled"></li>
  <li class="icon-mail"></li>
  <li class="icon-send"></li>
  <li class="icon-reply"></li>
  <li class="icon-inbox"></li>
  <li class="icon-attach"></li>
  <li class="icon-chat"></li>
  <li class="icon-facetime"></li>
  <li class="icon-ellipsischat"></li>
  <li class="icon-ellipsis"></li>
  <li class="icon-print"></li>
  <li class="icon-fax"></li>
  <li class="icon-notifications"></li>
  <li class="icon-notificationsdisabled"></li>
</ul>

<h5>Editing</h5>
<ul class="sg-icons inline-list">
  <li class="icon-compose"></li>
  <li class="icon-quote"></li>
  <li class="icon-text"></li>
  <li class="icon-font"></li>
  <li class="icon-move"></li>
  <li class="icon-write"></li>
  <li class="icon-writingdisabled"></li>
  <li class="icon-erase"></li>
  <li class="icon-sample"></li>
  <li class="icon-crop"></li>
  <li class="icon-layers"></li>
  <li class="icon-fill"></li>
  <li class="icon-stroke"></li>
  <li class="icon-trash"></li>
</ul>

<h5>Arrows</h5>
<ul class="sg-icons inline-list">
  <li class="icon-up"></li>
  <li class="icon-upright"></li>
  <li class="icon-right"></li>
  <li class="icon-downright"></li>

  <li>
    <svg class="icon icon-down">
      <use xlink:href="#icon-down"></use>
    </svg>
  </li>

  <li class="icon-downleft"></li>
  <li class="icon-left"></li>
  <li class="icon-upleft"></li>

  <li class="icon-navigateup"></li>
  <li class="icon-navigateright"></li>
  <li class="icon-navigatedown"></li>
  <li class="icon-navigateleft"></li>

  <li class="icon-directup"></li>
  <li class="icon-directright"></li>
  <li class="icon-dropdown"></li>
  <li class="icon-directleft"></li>
</ul>

<h5>Time</h5>
<ul class="sg-icons inline-list">
  <li class="icon-clock"></li>
  <li class="icon-stopwatch"></li>
  <li class="icon-calendar"></li>
  <li class="icon-addcalendar"></li>
  <li class="icon-removecalendar"></li>
  <li class="icon-checkcalendar"></li>
  <li class="icon-deletecalendar"></li>
</ul>

<h5>Devices</h5>
<ul class="sg-icons inline-list">
  <li class="icon-desktop"></li>
  <li class="icon-laptop"></li>
  <li class="icon-tablet"></li>
  <li class="icon-cell"></li>
  <li class="icon-battery"></li>
  <li class="icon-highbattery"></li>
  <li class="icon-mediumbattery"></li>
  <li class="icon-lowbattery"></li>
  <li class="icon-emptybattery"></li>
</ul>

<h5>Media</h5>
<ul class="sg-icons inline-list">
  <li class="icon-picture"></li>
  <li class="icon-camera"></li>
  <li class="icon-mic"></li>
  <li class="icon-video"></li>
  <li class="icon-music"></li>
  <li class="icon-airplay"></li>
  <li class="icon-database"></li>
  <li class="icon-hdd"></li>
</ul>

<h5>Playback</h5>
<ul class="sg-icons inline-list">
  <li class="icon-play"></li>
  <li class="icon-stop"></li>
  <li class="icon-record"></li>
  <li class="icon-rewind"></li>
  <li class="icon-fastforward"></li>
  <li class="icon-skipback"></li>
  <li class="icon-skipforward"></li>
  <li class="icon-eject"></li>
  <li class="icon-repeat"></li>
  <li class="icon-replay"></li>
  <li class="icon-shuffle"></li>
  <li class="icon-volume"></li>
  <li class="icon-lowvolume"></li>
  <li class="icon-highvolume"></li>
</ul>

<h5>Documents, Books and files</h5>
<ul class="sg-icons inline-list">
  <li class="icon-book"></li>
  <li class="icon-openbook"></li>
  <li class="icon-notebook"></li>
  <li class="icon-newspaper"></li>
  <li class="icon-file"></li>
  <li class="icon-folder"></li>
</ul>

<h5>Layout</h5>
<ul class="sg-icons inline-list">
  <li class="icon-grid"></li>
  <li class="icon-rows"></li>
  <li class="icon-columns"></li>
  <li class="icon-thumbnails"></li>
  <li class="icon-list"></li>
  <li class="icon-layout"></li>
  <li class="icon-expand"></li>
  <li class="icon-contract"></li>
</ul>

<h5>People and users</h5>
<ul class="sg-icons inline-list">
  <li class="icon-user"></li>
  <li class="icon-femaleuser"></li>
  <li class="icon-users"></li>
</ul>

