
<h5>In text</h5>

<p>This is a <i class="icon-plus icon-coloured"></i> short <i class="icon-flag icon-round"></i> paragraph of text and here are <i class="icon-location icon-round"></i> some <i class="icon-link icon-round"></i> different <i class="icon-check"></i> icons <i class="icon-plus"></i> in the <i class="icon-flag icon-coloured"></i> text flow</p>
