<svg display="none" xmlns="http://www.w3.org/2000/svg">
  {{> atoms/iconography/svg-icon-home}}
  {{> atoms/iconography/svg-icon-down}}
  {{> atoms/iconography/svg-icon-download}}
  {{> atoms/iconography/svg-icon-previous}}
  {{> atoms/iconography/svg-icon-next}}
  {{>atoms/iconography/svg-icon-external-link}}
  {{> atoms/iconography/svg-icon-eye}}
  {{> atoms/iconography/svg-icon-language}}
</svg>
