{{> atoms/iconography/svgicons-pro}}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">

	<div class="l-content">

	    <div class="page_header">
	      {{> molecules/navigation/breadcrumbs}}
	    </div>

		<div class="maincontent">
			<h1 class="title">People list title here</h1>

			<div class="team">
				<h2>Team name here</h2>
				<ul class="results-list cf">
					{{#listItems.six}}<li>{{> molecules-person-block-small(medium: true) }}</li>{{/listItems.six}}
				</ul>
			</div>

			<div class="team">
				<h2>Team name here</h2>
				<ul class="results-list cf">
					{{#listItems.four}}<li>{{> molecules-person-block-small(medium: true) }}</li>{{/listItems.four}}
				</ul>
			</div>

			<div class="team">
				<h2>Team name here</h2>
				<ul class="results-list cf">
					{{#listItems.four}}<li>{{> molecules-person-block-small(medium: true) }}</li>{{/listItems.four}}
				</ul>
			</div>
		</div>

	</div>
 {{! END l-content }}


  <div class="l-sidebar js-getstickywidth">

  {{#navigation.secondary}}
     <div class="js-sticky">
    {{> molecules/navigation/nav-secondary }}
    </div>
  {{/navigation.secondary}}


  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Content -->


{{> organisms/global/footer }}

