{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}



<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="page_header">
      {{> molecules/navigation/breadcrumbs}}
    </div>


    <div class="video-winner section">
      <h2>Eyecatcher of the year 2015</h2>

      <div class="video-item block block-stacked">
        <div class="b-inner">

          <div class="b-thumb">
            <a class="embedly-card" href="https://www.youtube.com/embed/qKfiNKAUbr4" data-card-width="100%"  data-card-controls="0" data-card-theme="dark" data-card-chrome="0">Title here</a>
          </div>

          <div class="b-text">
            <div class="video-title">Title here</div>
            <div class="item-meta-primary">
              <span class="video-attribution">Namey nameson</span>
            </div>
            <div class="video-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eligendi aliquam vel quidem facilis, molestiae officia alias repellat corporis quasi earum, deleniti, enim saepe, ut nulla provident quaerat vero. Eaque.</p>
            </div>

            <div class="item-meta-secondary">
              <span class="item-tags">
                <svg class="icon icon-bookmark">
                  <use xlink:href="#icon-bookmark"></use>
                </svg>
                <ul class="inline-list">
                  <li><a href="{{ url }}">Tag 1</a></li>
                  <li><a href="{{ url }}">Tag 2</a></li>
                  <li><a href="{{ url }}">Tag 3</a></li>
                </ul>
              </span>
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="video-list video-winners section">
      <h2>All Category Winners</h2>

      <ul class="cf">
        {{#listItems.six}}
        <li class="video-list-item">
          <h3>Category Title</h3>
          {{> molecules/blocks/media-item-video }}
        </li>
        {{/listItems.six}}
      </ul>
    </div>

    <div class="video-list video-shortlist section">
      <h2>Shortlist</h2>

      <ul class="cf">
        {{#listItems.six}}
        <li class="video-list-item">
          {{> molecules/blocks/media-item-video }}
        </li>
        {{/listItems.six}}
      </ul>
    </div>

    <div class="video-list section">
      <h2>All Submissions</h2>

      <ul class="cf">
        {{#listItems.six}}
        <li class="video-list-item">
          {{> molecules/blocks/media-item-video }}
        </li>
        {{/listItems.six}}
      </ul>
    </div>


  </div>
  {{! END l-content }}


  <div class="l-sidebar js-getstickywidth">

    <div class="l-categories js-sticky">
      <h4>Filter by category:</h4>
      {{> molecules-tags-large }}
    </div>


  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer_subsite }}