{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}



<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="page_header">
      {{> molecules/navigation/breadcrumbs}}
    </div>

    {{! START: Content pulled into Entry list page via ajax  }}
    <div id="entry-detail" class="entry-detail">

      <div class="section">

        <div>
          <a class="embedly-card" href="https://www.youtube.com/embed/qKfiNKAUbr4" data-card-width="100%"  data-card-controls="0" data-card-theme="dark" data-card-chrome="0">Title here</a>
        </div>

        <div class="cf entry-info">
          <!-- Entry meta data -->
          <div class="entry-data">

            {{# user_judge }}
            {{> molecules/components/star-rating-display(rating:4) }}
            {{/ user_judge }}

            <img src="/images/fpo_16x9.png" >

            <div class="entry-data-inner">
              <ul>
                <li class="submitter-name">{{ name.first }} {{ name.last }}</li>
                <li>Creative commons</li>
                <li><a href="{{ url }}">{{ url }}</a></li>
              </ul>
            </div>

          </div>


          <div class="entry-text prose">

            <h2>{{ title }}</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, accusantium earum. Cupiditate possimus, dicta magnam perferendis ipsa neque provident eveniet quod, totam nemo amet, sed necessitatibus vero corporis nam. Expedita voluptatibus error vitae sapiente qui totam eius soluta, doloribus saepe.</p>
          </div>
        </div>
      </div>


      <div class="item-meta-secondary section">
        <span class="item-tags">

        <svg class="icon icon-bookmark">
          <use xlink:href="#icon-bookmark"></use>
        </svg>

        <ul class="inline-list">
          {{# listItems.eight }}
          <li><a href="{{ url }}">{{ name.first }}</a></li>
          {{/ listItems.eight }}
        </ul>

        </span>
      </div>


      <div class="section">
        <h3>Extra media</h3>
        <ul class="gallery_4">
        {{# listItems.eight }}
          <li><img src="/images/fpo_16x9.png" alt="entry extra media"></li>
        {{/ listItems.eight }}
        </ul>
      </div>

      {{# user_judge }}
      <div class="cf entry-comments section">
        <h3>Comments from the Judges</h3>

        <ul class="comments-list">
        {{# listItems.five }}
          <li>
            {{> molecules/components/comment( rating: true ) }}
          </li>
        {{/ listItems.five }}
        </ul>
      </div>
      {{/ user_judge }}








    </div>
    {{! END: Content pulled into Entry list page via ajax  }}


  </div>
  {{! END l-content }}


  <div class="l-sidebar js-getstickywidth">

  <div class="l-categories js-sticky">
  <h4>Filter by category:</h4>
  {{> molecules-tags-large }}
  </div>


  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer_subsite }}

