{{> atoms/iconography/svgicons-pro}}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">

		<div class="l-content">

			<div class="page_header">
				{{> molecules/navigation/breadcrumbs}}
				{{> molecules-sortby }}
			</div>

			<div id="maincontent" class="maincontent">

				{{# job }}
				{{> molecules-meta-RSS }}
				{{/ job }}

				{{# event }}
				{{> molecules-meta-RSS }}
				{{/ event }}

				{{# publication }}
				{{> molecules-meta-RSS }}
				{{/ publication }}

				{{# blog }}
				{{> molecules-meta-RSS }}
				{{/ blog }}


				<div class="results cf">

					{{# intro }}
					<div class="page-intro">
	                     <h1 class="title">List Page title</h1>
	                    <p>{{ excerpt.short }}</p>
	                </div>
	                {{/ intro }}

					<ul class="results-list cf">
						{{#listItems.ten}}
							{{> molecules-pro-listitem }}
						{{/listItems.ten}}
					</ul>

					{{> molecules-pagination }}

				</div>

				{{> molecules-related-images(title: "Related") }}

			</div>
		</div>



		<div class="l-sidebar">
			{{> molecules-help-contact(title:"Need help?") }}
		</div>

</div>
</main>
<!-- End Content -->


{{> organisms/global/footer_subsite }}

