{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}


<div class="site-hero cf" style="background-image: url('{{image_root}}heritage-in-motion/HiM_HeroBanner_5crop.jpg');" >

  <div class="hero-content">

      <h1 class="title">The new Multimedia competition on european Heritage</h1>
      <h2 class="subtitle">With Awards ceremony</h2>

      <ul class="maker-types">
        <li class="maker1">Developer</li>
        <li class="maker2">Filmmaker</li>
        <li class="maker3">Performer</li>
        <li class="maker4">Artist</li>
        <li class="maker5">Culture Enthusiast</li>
      </ul>

      <a href="TODO: sign up url here" class="cta-primary btn alt">
        <span class="uppercase">Sign up Now</span><br>
        and win the prize
      </a>

      <ul class="competition-benefits">
        <li>Show your succesful projects in the field of cultural heritage to the rest of Europe</li>
        <li>Submit your new Multimedia projects (films, websites, apps, games, experiences)</li>
        <li>Win the unique Heritage and Motion award sculpture</li>
      </ul>

      <div class="l-cta-secondary">
        <a href="#" class="cta-secondary btn pill btn-light">Learn more</a>
        <a href="#" class="cta-secondary btn pill btn-light">Browse our gallery</a>
      </div>


  </div>

</div>

{{> organisms/global/footer_subsite }}

