{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-editing }}
{{> atoms/iconography/svgicons-user }}


{{> organisms/global/header_v2}}


<form action="TODO: payment url here">
<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="page_header">
      {{> molecules/navigation/breadcrumbs}}
    </div>

    <div class="section">

    <h2>Pay for your entries</h2>

      <ul class="cf">
        {{#listItems.two}}
        <li class="submission-list-item list-item cf">

          <h3>Submission 01</h3>

          <div class="cf">
            <div class="item-supplementary">
              <div class="item-image">
                <a href="{{ VIEW URL HERE }}"><img src="{{ image_root }}{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" /></a>
              </div>
            </div>

            <div class="item-details">
              <h4>{{ title }}</h4>
              <div class="description">
                {{ description }}
              </div>
            </div>
          </div>

          <div class="submission-meta cf">
            <div class="submission-select">
              Pay for this entry: <input type="checkbox" name="submissions-selected" value="{{id}}" checked>
            </div>
            <div class="submission-price">
              Cost: $200
            </div>
          </div>

        </li>
        {{/listItems.two}}
      </ul>


    </div>


  </div>
  {{! END l-content }}


  <div class="l-sidebar js-stickywidth">
    <div class="js-sticky">

      <div class="cart-total">
        Total: $400
      </div>

      <div class="cart-method">
        <h4>Choose a payment method:</h4>
        {{> molecules/controls/payment-method }}
      </div>

      <div class="cart-checkout">
        <button type="submit">Pay now</button>
      </div>



    </div>
  </div>
  {{! end sidebar }}

</div>
</main>
</form>
<!-- End Main -->


{{> organisms/global/footer_subsite }}