<div class="cf">
  <div class="image-compare">
    <div class="handle"></div>
    {{#image_1}}
      {{>atoms/images/responsive-srcset-picture}}
    {{/image_1}}

    {{#image_2}}
      <div class="resize-img">
      {{>atoms/images/responsive-srcset-picture}}
      </div>
    {{/image_2}}
  </div>
</div>
  <div class="attribution-text">
    {{#image_1_credit}}
      (left) {{#attribution_title}}{{.}}, {{/attribution_title}}{{#attribution_creator}}{{.}}, {{/attribution_creator}}{{#attribution_url}}<a href="{{.}}">{{/attribution_url}}{{attribution_institution}}{{#attribution_url}}</a>, {{/attribution_url}}{{#attribution_institution}}{{^attribution_url}}, {{/attribution_url}}{{/attribution_institution}}{{license_text}}
    {{/image_1_credit}}
    |
    {{#image_2_credit}}
      (right) {{#attribution_title}}{{.}}, {{/attribution_title}}{{#attribution_creator}}{{.}}, {{/attribution_creator}}{{#attribution_url}}<a href="{{.}}">{{/attribution_url}}{{attribution_institution}}{{#attribution_url}}</a>, {{/attribution_url}}{{#attribution_institution}}{{^attribution_url}}, {{/attribution_url}}{{/attribution_institution}}{{license_text}}
    {{/image_2_credit}}
  </div>