<div class="colour-navigation js-hidden js-template" style="display:none">
  <h4>{{{i18n.site.object.actions.explore-by-colour}}}</h4>
  <ul class="colour-data nav">
    <li class="height-to-width colour-datum js-template" style="display:none"><span class="inner"><a class="link" href="" style=""><span class="is-hidden"></span></a></span></li>
  </ul>
</div>