{{#present}}
  <div class="colour-navigation{{^is_current}} js-hidden{{/is_current}}" data-thumbnail="{{thumbnail}}">
    <h4>{{{i18n.site.object.actions.explore-by-colour}}}</h4>
    <ul class="colour-data nav">
      {{#items}}
        <li class="height-to-width colour-datum"><span class="inner"><a class="link" href="{{url}}" style="background-color: {{hex}};"><span class="is-hidden">{{hex}}</span></a></span></li>
      {{/items}}
    </ul>
  </div>
{{/present}}