{{!

FILTER COMPONENT - COLOUR

Single or as multiple colour selection.



Configuration options and content model:
# # # # # # # # # # # # # # # #

"filters":[
    {
        "title":"Colours",    // Title of the filter group eg. Artist
        "colour": true,         // Selects the Colour filter type - this one
        "select_one" : true,    // Selects the single selected option - only one selected at a time - behaves like radio buttons
        "items": [              // Array of filterable options - visible on initial load
            {
                "url":"http://linktofilterapplied",     // The url to go to with the filter applied - fallback for no js use case
                "text": "My option name",               // The name of the colour eg. Chartreuse
                "hex": "#BADA55",                       // The hex code of the colour
                "num_results": "1234",                  // number of results in the filtered set - can be a string or int eg. "15K" or 10000
                "is_checked": true,                     // checked/selected state of the option
                "is_disabled": true                     // enabled/disabled state of the option
            },
            ...Add more visible items here
        ],
        "extra_items": {        // Extra items - hidden on initial load
            "items": [          // Array of options as above
                {
                    ......as above
                },
                ...Add more items here
            ]
        }
    },
    ...Add more filters here
]

# # # # # # # # # # # # # # # #



}}
<div class="filter filter-colour {{#select_one}}radiobuttons{{/select_one}}{{^select_one}}checkboxes{{/select_one}}">

    {{# title }}<div class="filter-name" data-filter-name="{{name}}">{{ . }}{{#icon_link}} <a href="{{link_url}}"><svg class="icon {{icon}}"><use xlink:href="#{{icon}}"></use></svg></a>{{/icon_link}}</div>{{/ title }}

    <ul class="filter-list">
    {{#items}}
        <li>
            <a href="{{url}}" class="filter-item {{#is_checked}} is-checked {{/is_checked}}{{#is_disabled}} is-disabled {{/is_disabled}}" {{#is_checked}} aria-checked="true" {{/is_checked}} {{^is_checked}} aria-checked="false" {{/is_checked}} style="background-color:{{hex}}">
            <span class="filter-text is-vishidden">{{text}}</span>
            {{#num_results}}
            <span class="filter-num is-vishidden">({{num_results}})</span>
            {{/num_results}}
            </a>
        </li>
    {{/items}}
    </ul>

</div>
