      <ul class="payment-method">

        <li>
          <input type='radio' name='payment_method' value='visa' id="payment-visa"/><label for="payment-visa" class="payment-visa ir">visa</label>
        </li>

        <li>
          <input type='radio' name='payment_method' value='mastercard' id="payment-mastercard"/><label for="payment-mastercard" class="payment-mastercard ir">Mastercard</label>
        </li>

        <li>
          <input type='radio' name='payment_method' value='paypal' id="payment-paypal"/><label for="payment-paypal" class="payment-paypal ir">PayPal</label>
        </li>


        {{# extended }}
        <li>
          <input type='radio' name='payment_method' value='amazon' id="payment-amazon"/><label for="payment-amazon" class="payment-amazon ir">Amazon</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='amex' id="payment-amex"/><label for="payment-amex" class="payment-amex ir">American Express</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='androidpay' id="payment-androidpay"/><label for="payment-androidpay" class="payment-androidpay ir">Android Pay</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='applepay' id="payment-applepay"/><label for="payment-applepay" class="payment-applepay ir">Apple Pay</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='bitcoin' id="payment-bitcoin"/><label for="payment-bitcoin" class="payment-bitcoin ir">Bitcoin</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='citi' id="payment-citi"/><label for="payment-citi" class="payment-citi ir">Citi bank</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='contactless' id="payment-contactless"/><label for="payment-contactless" class="payment-contactless ir">Contactless</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='dinersclub' id="payment-dinersclub"/><label for="payment-dinersclub" class="payment-dinersclub ir">Diners Club</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='directdebit' id="payment-directdebit"/><label for="payment-directdebit" class="payment-directdebit ir">Direct Debit</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='discover' id="payment-discover"/><label for="payment-discover" class="payment-discover ir">Discover</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='jcb' id="payment-jcb"/><label for="payment-jcb" class="payment-jcb ir">JCB</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='maestro' id="payment-maestro"/><label for="payment-maestro" class="payment-maestro ir">Maestro</label>
        </li>

        <li>
          <input type='radio' name='payment_method' value='reverse' id="payment-reverse"/><label for="payment-reverse" class="payment-reverse ir">Card Reverse</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='sagepay' id="payment-sagepay"/><label for="payment-sagepay" class="payment-sagepay ir">sagepay</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='square' id="payment-square"/><label for="payment-square" class="payment-square ir">Square</label>
        </li>
        <li>
          <input type='radio' name='payment_method' value='stripe' id="payment-stripe"/><label for="payment-stripe" class="payment-stripe ir">Stripe</label>
        </li>

        <li>
          <input type='radio' name='payment_method' value='wallet' id="payment-wallet"/><label for="payment-wallet" class="payment-wallet ir">Wallet</label>
        </li>
        {{/ extended }}
      </ul>