<fieldset class="rating">
    <input type="radio" id="star5{{{ id }}}" name="rating{{{ id }}}" value="5" /><label for="star5{{{ id }}}" title="Amazing!">5 stars</label>
    <input type="radio" id="star4{{{ id }}}" name="rating{{{ id }}}" value="4" /><label for="star4{{{ id }}}" title="Good">4 stars</label>
    <input type="radio" id="star3{{{ id }}}" name="rating{{{ id }}}" value="3" /><label for="star3{{{ id }}}" title="Average">3 stars</label>
    <input type="radio" id="star2{{{ id }}}" name="rating{{{ id }}}" value="2" /><label for="star2{{{ id }}}" title="Below average">2 stars</label>
    <input type="radio" id="star1{{{ id }}}" name="rating{{{ id }}}" value="1" /><label for="star1{{{ id }}}" title="Poor">1 star</label>
</fieldset>