{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{{ gon }}}

{{> organisms/global/header_v2}}



<main role="main">

<div class="map-hero">
  <div class="lc">

    {{! Main country map }}
    {{# content.charts.main_chart }}
    <div class="big-graph">
      {{> molecules/charts/pykchart }}
    </div>
    {{/ content.charts.main_chart }}

    <div class="hero-text">
      <h1 class="h2">Select a country from the map</h1>
    </div>

  </div>
</div>

</main>
<!-- End Main -->

{{> organisms/global/footer }}

