{{{ gon }}}
{{> organisms/global/header_v2}}


<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">

    <div class="maincontent">
      <div class="textcontent">
          <h1 class="title">{{ title }}</h1>

          {{# content.prose }}
          <div class="prose">
            {{{ html }}}
          </div>
          {{/ content.prose }}


          {{# content.links }}

          <div id="linklist">
            <div class="search-controls">
              <input class="list-search" placeholder="Search" />
              <span class="sort btn btn2" data-sort="list-item">A → Z</span>
            </div>

            {{> molecules/navigation/linklist-simple }}

          </div>

          {{/ content.links }}

      </div>
    </div>

  </div>
  {{! END l-content }}


  <div class="l-sidebar js-getstickywidth">
  {{#navigation.secondary}}
     <div class="js-sticky">
    {{> molecules/navigation/nav-secondary }}
    </div>
  {{/navigation.secondary}}

  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer }}

