{{#cookie_disclaimer}}
  <div id="cookie-disclaimer" class="cc_banner-wrapper" style="display:none;">
    <div class="cc_banner cc_container cc_container--open lc">
      <a class="cc_btn cc_btn_accept_all" target="_blank" data-cc-event="click:dismiss" href="#null" data-role="remove"></a>
      <p class="cc_message">{{i18n.global.cookie_disclaimer.text}}
        <a href="{{cookie_disclaimer.more_link}}" class="cc_more_info" target="_self" data-cc-if="options.link">{{i18n.global.cookie_disclaimer.more_info}}</a>
      </p>
    </div>
  </div>

  {{#test_mode}}
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  {{/test_mode}}
{{/cookie_disclaimer}}
