<div class="block block-hero">
	<a href="#" class="inner">
		<div class="b-thumb">
			{{> atoms-bg-landscape }} 
		</div>
		<div class="b-text">
			<h1 class="headline" >{{ headline.medium }}</h1>
			{{> molecules-byline-author-time }}
		</div>
	</a>
</div>