<div class="browse-entry cf">
	<a href="{{url}}" class="cf">

		{{#image}}
		<div class="img">
			<img src="{{image}}" alt="{{image_alt}}">
		</div>
		{{/image}}


		<div class="bd">
			<div class="l-upper">

        {{# is_spotlight }}
				{{! hiding of icons
        <svg class="icon icon-star">
					<use xlink:href="#icon-star"></use>
				</svg>
				}}
        {{/ is_spotlight }}

				{{# is_search }}
				{{! hiding of icons
        <svg class="icon icon-search">
					<use xlink:href="#icon-search"></use>
				</svg>
				}}
        {{/ is_search }}

				<span class="title">{{title}}</span>

			</div>
		</div>
	</a>
</div>
