<div class="browse-entry-more cf">
  <a href="{{more_link}}" class="cf">

    <div class="img">
      <img src="{{styleguide_root}}/images/icons/browse_entry_bkg.png"/>
    </div>

    <div class="bd">
      <div class="l-upper">
        <span class="title">{{more_text}}</span>
      </div>
    </div>
  </a>
</div>
