<div class="block block-thumb">

		<div class="b-thumb">
			<a href="{{ link.templates-labs-detail }}">
				{{> atoms-square }}
			</a>
		</div>

		<div class="b-text">

			<h1 class="headline gamma"><a href="{{ link.templates-labs-detail }}">{{ headline.short }}</a></h1>

			<div class="description">
				<p>{{ excerpt.short }}</p> 
			</div>

			{{> molecules-tags-alt}}

		</div>

</div>
