<div class="link-block-text link-block block">
    <a href="#" class="b-inner">
		<div class="b-text">
			<h2 class="item-title">{{ headline.short }}</h2>
			{{# excerpt }}
			<p>{{ excerpt.vshort }}</p>
			{{/ excerpt}}
		</div>
	</a>
</div>