<div class="link-block block">
    <a href="{{url}}" class="b-inner">
		<div class="b-thumb">
			<img src="{{ img.src }}" alt="{{ img.alt }}" />
		</div>
		<div class="b-text">
			{{# headline }}
			<h2 class="item-title">{{ headline.medium }}</h2>
			{{/ headline }}
			{{# excerpt }}
			<p>{{ excerpt.short }}</p>
			{{/ excerpt}}
		</div>
	</a>
</div>