<div class="video-item block block-stacked">
    <div class="b-inner">
		<div class="b-thumb">
			<a href="/patterns/templates-subsites-HIM-entry-detail/templates-subsites-HIM-entry-detail.html" data-featherlight="/patterns/templates-subsites-HIM-entry-detail/templates-subsites-HIM-entry-detail.html #entry-detail" aria-hidden="true">
			<img src="{{video.thumb_url}}" >
			</a>
		</div>
		<div class="b-text">

			{{# user_judge }}
			<div class="video-judge-controls cf">
				{{#id}}
				{{> molecules/controls/star-rating }}
				{{/id}}

				<a href="#" class="link-comments">
				<svg class="icon icon-comments">
					<use xlink:href="#icon-comments"></use>
				</svg>
				</a>
			</div>
			{{/ user_judge }}

			<div class="video-title"><a href="/patterns/templates-subsites-HIM-entry-detail/templates-subsites-HIM-entry-detail.html" data-featherlight="/patterns/templates-subsites-HIM-entry-detail/templates-subsites-HIM-entry-detail.html #entry-detail">{{ title }}</a></div>
			<div class="item-meta-primary">
				<span class="video-attribution">{{name.first}} {{name.last}}</span>
			</div>
			{{# description }}
			<div class="video-description">
			<p>{{ . }}</p>
			</div>
			{{/ description }}

			<div class="item-meta-secondary">
			{{# tags }}
			<span class="item-tags">
			<svg class="icon icon-bookmark">
				<use xlink:href="#icon-bookmark"></use>
			</svg>
			<ul class="inline-list">
				{{# items }}
				<li><a href="{{ url }}">{{ text }}</a></li>
				{{/ items }}
			</ul>
			</span>
			{{/ tags }}
			</div>

		</div>
	</div>
</div>