<div class="block block-stacked">
    <a href="#" class="b-inner">
		<div class="b-thumb">
			{{> atoms-square }}
		</div>
		<div class="b-text">
			<h2 class="delta">{{ headline.short }}</h2>
			<p>{{ excerpt.short }}</p>
		</div>
	</a>
</div>