<div class="l-candidate block block-thumb">
    <div class="b-inner">
		<div class="b-thumb-wide">
			<a href="">
				{{> atoms-portrait }}
			</a>
		</div>
		<div class="b-text-wide">
			<h2 class="person-name"><a href="#">{{name.first}} {{name.last}}</a></h2>
			<div class="jobdetails">
				<div class="job-title">{{ excerpt.vshort }}</div>
			</div>

			{{#medium}}
			{{> molecules-meta-email }}
			{{> molecules-meta-phone-work }}
			{{/medium}}

			{{> molecules-meta-twitter-link }}

      <div class="list-teaser">
				<div class="teaser">"{{ excerpt.medium }}"</div>
			</div>
		</div>
	</div>
</div>

