{{!

License block template
Location specific styles should be scoped to the parent container to maintain re-usability

Required license options:

CC0
CC BY
CC BY-SA
CC BY-NC
CC BY-ND
CC BY-NC-SA
CC BY-NC-ND
Public Domain

Rights Reserved - Restricted Access
Rights Reserved - Free Access
Rights Reserved - Paid Access

Out of copyright - non commercial re-use
Unknown copyright status

Orphan Work


Configuration options and content model:
# # # # # # # # # # # # # # # #

license options: ONLY ONE should be active

{
  "license_CC0": true
  "license_CC_BY": true
  "license_CC_BY_SA": true
  "license_CC_BY_ND": true
  "license_CC_BY_NC": true
  "license_CC_BY_NC_SA": true
  "license_CC_BY_NC_ND": true
  "license_OOC": true
  "license_PD_NC": true
  "license_public": true
  "license_RR_free": true
  "license_RR_paid": true
  "license_RR_restricted": true
  "license_unknown": true
  "license_orphan": true
}

# # # # # # # # # # # # # # # #

}}


{{#license_CC0}}
  <a href="{{license_url}}" class="license icon-license-zero" {{>molecules/icons/rel_attribute}}>{{license_name}}
  {{^license_name}} CC0 {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC0}}

{{#license_CC_BY}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span>
  {{license_name}}
  {{^license_name}} CC BY {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC_BY}}

{{#license_CC_BY_SA}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-sa"></span>
  {{license_name}}
  {{^license_name}} CC BY-SA {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC_BY_SA}}

{{#license_CC_BY_ND}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nd"></span>
  {{license_name}}
  {{^license_name}} CC BY-ND {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC_BY_ND}}

{{#license_CC_BY_NC}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span>
  {{license_name}}
  {{^license_name}} CC BY-NC {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC_BY_NC}}

{{#license_CC_BY_NC_SA}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span><span class="icon-license-sa"></span>
  {{license_name}}
  {{^license_name}} CC BY-NC-SA{{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC_BY_NC_SA}}

{{#license_CC_BY_NC_ND}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span><span class="icon-license-nd"></span>
  {{license_name}}
  {{^license_name}} CC BY-NC-ND{{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_CC_BY_NC_ND}}

{{#license_OOC}}
  <a href="http://rightsstatements.org/page/NoC-NC/1.0/" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-no"><use xlink:href="#icon-license-rs-no"/></svg>
   No Copyright - Non-Commercial Use Only {{ expiry }} <svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
<br/>
{{/license_OOC}}

{{#license_PD_NC}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-pd"></span><span class="icon-license-nc"></span><span class="icon-license-nd"></span>
  {{license_name}}
  {{^license_name}} Public Domain - non commercial re-use{{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_PD_NC}}

{{#license_public}}
  <a href="{{license_url}}" class="license icon-license-pd" {{>molecules/icons/rel_attribute}}>
  {{license_name}}
  {{^license_name}} Public Domain {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_public}}

{{#license_RR_free}}
  <a href="{{license_url}}" class="license icon-license-rr" {{>molecules/icons/rel_attribute}}>
  {{license_name}}
  {{^license_name}} Rights Reserved - Free Access {{/license_name}}</a>
{{/license_RR_free}}

{{#license_RR_paid}}
  <a href="{{license_url}}" class="license icon-license-rr" {{>molecules/icons/rel_attribute}}>
  {{license_name}}
  {{^license_name}} Rights Reserved - Paid Access {{/license_name}}</a>
{{/license_RR_paid}}

{{#license_RR_restricted}}
  <a href="{{license_url}}" class="license icon-license-rr" {{>molecules/icons/rel_attribute}}>
  {{license_name}}
  {{^license_name}} Rights Reserved - Restricted Access {{/license_name}}</a>
{{/license_RR_restricted}}

{{#license_unknown}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}>
  {{license_name}}
  {{^license_name}} Unknown copyright status {{/license_name}}</a>
{{/license_unknown}}

{{#license_orphan}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}>
  {{license_name}}
  {{^license_name}} Orphan work {{/license_name}}</a>
{{/license_orphan}}


{{#license_RS_NOC_NC}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-no"><use xlink:href="#icon-license-rs-no"/></svg>
  {{license_name}}
  {{^license_name}} No Copyright - Non-Commercial Use Only {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_RS_NOC_NC}}

{{#license_RS_NOC_OKLR}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-no"><use xlink:href="#icon-license-rs-no"/></svg>
  {{license_name}}
  {{^license_name}} No Copyright - Other Known Legal Restrictions {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_RS_NOC_OKLR}}


{{#license_RS_INC_EDU}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-yes"><use xlink:href="#icon-license-rs-yes"/></svg>
  {{license_name}}
  {{^license_name}} In Copyright - Educational Use Permitted {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_RS_INC_EDU}}

{{#license_RS_INC}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-yes"><use xlink:href="#icon-license-rs-yes"/></svg>
  {{license_name}}
  {{^license_name}} In Copyright {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_RS_INC}}

{{#license_RS_INC_OW_EU}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-yes"><use xlink:href="#icon-license-rs-yes"/></svg>
  {{license_name}}
  {{^license_name}} In Copyright - EU Orphan Work {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_RS_INC_OW_EU}}


{{#license_RS_CNE}}
  <a href="{{license_url}}" class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-unknown"><use xlink:href="#icon-license-rs-unknown"/></svg>
  {{license_name}}
  {{^license_name}} Copyright Not Evaluated {{/license_name}}<svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>
{{/license_RS_CNE}}

<span rel="cc:useGuidelines" resource="http://www.europeana.eu/rights/pd-usage-guide/"></span>