<span class="item-tags">
	<svg class="icon icon-bookmark">
		<use xlink:href="#icon-bookmark"></use>
	</svg>
	<ul class="inline-list">
		<li class="item-tag"><a href="{{ link.templates-ListPage }}">Archives</a></li>
		<li class="item-tag"><a href="{{ link.templates-ListPage }}">Digitalisation</a></li>
		<li class="item-tag"><a href="{{ link.templates-ListPage }}">Audiovisual</a></li>
	</ul>
</span>