<span class="item-date">
	<svg class="icon icon-calendar">
		<use xlink:href="#icon-calendar"></use>
	</svg>
	{{#day}}<span class="item-day">{{ day.long }}</span>{{/day}}
	{{#month}}<span class="item-month">{{ month.long}}</span>{{/month}}
	{{#year}}<span class="item-year">{{ year.long }}</span>{{/year}}
</span>