<div class="accordion">
	<ul>
		<li>
			<a href="#" class="acc-handle">Accordion 1</a>
			<div class="acc-panel">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maxime odit reiciendis nostrum animi amet! Commodi impedit adipisci, accusamus aut consequatur architecto aliquid minima fuga id, necessitatibus, mollitia maxime vel!
			</div>
		</li>
		<li>
			<a href="#" class="acc-handle">Accordion 2</a>
			<div class="acc-panel">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maxime odit reiciendis nostrum animi amet! Commodi impedit adipisci, accusamus aut consequatur architecto aliquid minima fuga id, necessitatibus, mollitia maxime vel!
			</div>
		</li>
		<li>
			<a href="#" class="acc-handle">Accordion 3</a>
			<div class="acc-panel">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maxime odit reiciendis nostrum animi amet! Commodi impedit adipisci, accusamus aut consequatur architecto aliquid minima fuga id, necessitatibus, mollitia maxime vel!
			</div>
		</li>
	</ul>
</div>