<div class="cart">
  <ul class="cart-list">
    {{#listItems.two}}
    <li class="cart-item cf">

      <div class="cart-item-details">

        <a class="cart-item-name" href="{{ url }}">{{ title }}</a>

        {{# attributes }}
        <ul class="cart-item-attributes">
          {{# items }}
          <li>
            {{ name }}
          </li>
          {{/ items }}
        </ul>
        {{/ attributes }}
      </div>

      {{# quantity }}
      <div class="cart-details-quantity">
        <input class="cart-item-quantity" data-cart-idx="0" name="quantity_{{id}}" type="text" pattern="[0-9]*" value="{{ quantity }}" autocomplete="off">
      </div>
      {{/ quantity }}

      <div class="cart-details-price">
        <span class="cart-price">{{ product.price }}</span>
      </div>

      <div class="cart-details-remove">
        <button type="button" class="cart-remove">×</button>
      </div>

    </li>
    {{/listItems.two}}
  </ul>

  <div class="cart-footer">
    <a href="TODO: checkout url here" class="cart-btn-checkout btn-small btn pill alt">Pay now</a>
  </div>

</div>