<div class="comment-wrapper">
  <div class="comment-meta">
    {{> atoms-avatar }}
    <h4 class="comment-name"><a href="#">{{ name.first }} {{ name.last }}</a></h4>
  </div>
  <div class="comment-text">
    <div>{{ description }}</div>
    {{# rating }}
    	{{> molecules/components/star-rating-display(rating:3) }}
    {{/rating}}
  </div>
</div>