<div
  {{^ single_item}}
    class="mlt-img-div height-to-width"
    style="background-image: url({{thumbnail}})"
  {{/single_item}}>
  <div class="inner"><a {{#external_media}}href="{{.}}" target="_blank"{{/external_media}}
      {{#is_audio}}
          data-type="audio"
      {{/is_audio}}

      {{#is_iiif}}
          data-type="iiif"
      {{/is_iiif}}

      {{#is_image}}
          data-type="image"
      {{/is_image}}

      {{#is_pdf}}
          data-type="pdf"
      {{/is_pdf}}

      {{#is_oembed}}
          data-type="oembed"
      {{/is_oembed}}

      {{#is_text}}
          data-type="text"
      {{/is_text}}

      {{#is_video}}
          data-type="video"
      {{/is_video}}

      {{#is_midi}}
          data-type="midi"
      {{/is_midi}}

      {{#play_html}}
         data-html="{{.}}"
      {{/play_html}}

      {{#play_url}}
         data-uri="{{.}}"
      {{/play_url}}

      {{#thumbnail}}
         data-thumbnail="{{.}}"
      {{/thumbnail}}

      {{#downloadable}}
        {{#download}}
          data-download-uri="{{url}}"
        {{/download}}
      {{/downloadable}}

      {{#technical_metadata}}
        {{#codec}}
          data-codec="{{.}}"
        {{/codec}}
        {{#dc_creator}}
          data-dc-creator="{{.}}"
        {{/dc_creator}}
        {{#dc_description}}
          data-dc-description="{{.}}"
        {{/dc_description}}
        {{#dc_source}}
          data-dc-source="{{.}}"
        {{/dc_source}}
        {{#dc_rights}}
          data-dc-rights="{{.}}"
        {{/dc_rights}}
        {{#edm_rights}}
          data-edm-rights="{{.}}"
        {{/edm_rights}}
        {{#file_size}}
          data-file-size="{{.}}"
        {{/file_size}}
        {{#file_unit}}
          data-file-unit="{{.}}"
        {{/file_unit}}
        {{#format}}
          data-format="{{.}}"
        {{/format}}
        {{#height}}
          data-height="{{.}}"
        {{/height}}
        {{#language}}
          data-language="{{.}}"
        {{/language}}
        {{#mime_type}}
          data-mime-type="{{.}}"
        {{/mime_type}}
        {{#runtime}}
          data-runtime="{{.}}"
        {{/runtime}}
        {{#runtime_unit}}
          data-runtime-unit="{{.}}"
        {{/runtime_unit}}
        {{#size_unit}}
          data-size-unit="{{.}}"
        {{/size_unit}}
        {{#width}}
          data-width="{{.}}"
        {{/width}}
        {{#attribution_plain}}
          data-attribution-plain="{{.}}"
        {{/attribution_plain}}
        {{#attribution_html}}
          data-attribution-html="{{.}}"
        {{/attribution_html}}
      {{/technical_metadata}}

      class="link {{#is_current}}is-current{{/is_current}}{{#playable}} playable{{/playable}}{{#external_media}} external-media{{/external_media}}"

      >{{#single_item}}{{>molecules/components/thumb-icon}}{{/single_item}}</a>
  </div>
</div>
