<div class="media-thumb-section">

  <a id="scroll-trigger-media-items"
     class="scroll-trigger"
     data-enabled="true"
     data-fire-on-open="showMediaThumbs"
     data-fire-on-open-params='{ "minSpacingPx": 12, "loadUrl": "{{more_thumbs_url}}","svg": true, "total_available": {{more_thumbs_total}}, "template": "media_thumb"}'
     {{! additional params read from :after content }}
  ></a>
  <div class="media-thumb-section-inner">

    <div class="js-carousel media-thumbs">
      <ul class="object-media-nav">
        {{#items}}
          {{#thumbnail}}
            <li class="js-carousel-item">{{> molecules/components/media-nav-item}}</li>
           {{/thumbnail}}
        {{/items}}
      </ul>

    </div>
  </div>
</div>
