{{!

	Edit the data-rating attribute to chnage the displayed star rating
	Edit the text to provide an accessible language specific fallback for screen readers.

}}
<div class="star-rating-display" data-rating="{{ rating }}"><span class="is-vishidden">{{ rating }} stars</span></div>