{{#feedback}}
  <div class="feedback">
    <div class="feedback-toggle">
      <a class="open">{{ i18n.global.feedback.open }}</a>
      <a class="close">{{ i18n.global.feedback.open }}</a>
    </div>
    <form id="feedback-form" method="post" action="{{form_action}}">

      <input type="hidden" name="pageurl" class="pageurl">

      <h2 class="feedback-title">
        <span class="step2"><svg class="icon icon-check"><use xlink:href="#icon-check"/></svg>{{ i18n.global.feedback.thanks.short }}</span>
      </h2>
      <ul class="step1">
        <li>
          <input type="radio" checked="checked" name="type" value="comment" id="feedback-1">
          <label for="feedback-1">{{ i18n.global.feedback.type.comment }}</label>
        </li>
        <li>
          <input type="radio" name="type" value="correction" id="feedback-2">
          <label for="feedback-2">{{ i18n.global.feedback.type.correction }}</label>
        </li>
        <li>
          <input type="radio" name="type" value="bug" id="feedback-3">
          <label for="feedback-3">{{ i18n.global.feedback.type.bug }}</label>
        </li>
      </ul>

      <textarea class="step1 feedback-text" maxlength="{{maxlength}}" placeholder="{{ i18n.global.feedback.placeholder }}" name="feedback_text"></textarea>
      <div class="step1 feedback-counter" data-maxlength="{{maxlength}}">{{maxlength}}</div>
      <div class="controls step1">
        <a class="feedback-send"><svg class="icon icon-check"><use xlink:href="#icon-check"/></svg></a>
      </div>

      <a class="feedback-cancel"><svg class="icon icon-delete"><use xlink:href="#icon-delete"/></svg></a>
      <div class="feedback-spinner" aria-role="progressbar">
      </div>

      <p class="step2"         >{{ i18n.global.feedback.thanks.long }}</p>
      <p class="feedback-error">{{ i18n.global.feedback.error }}</p>
    </form>
  </div>
{{/feedback}}
