<form action="{{action}}" method="post" class="inline-form">
    <fieldset>

	    <legend class="is-vishidden">{{search_box_legend}}</legend>
	    <label for="search-field" class="is-vishidden">{{search_box_label}}</label>

	    <input type="search" placeholder="Search" id="search-field" class="js-placeholder search-field" />

	    <button class="search-submit">
	    	<svg class="icon icon-search">
				<use xlink:href="#icon-search"></use>
			</svg>
	    	<span class="is-vishidden">{{search_box_hidden}}</span>
	    </button>

    </fieldset>
</form>