
<div class="sortby">
    <label for="list_sortby">Sort by:</label>
    <select id="list_sortby">
            <option>Date</option>
            <option>Option Two</option>
            <option>Option Three</option>
    </select>
</div>