#Socks Proxy
socks.proxy.enabled=
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

validation.executor.threadCount=10

predefinedSchemas=EDM-INTERNAL,EDM-EXTERNAL

predefinedSchemas.EDM-INTERNAL.url=
predefinedSchemas.EDM-INTERNAL.rootLocation=
predefinedSchemas.EDM-INTERNAL.schematronLocation=

predefinedSchemas.EDM-EXTERNAL.url=
predefinedSchemas.EDM-EXTERNAL.rootLocation=
predefinedSchemas.EDM-EXTERNAL.schematronLocation=