<div class="site_blog site_wrapper">

{{> organisms/global/header}}


{{> molecules-block-hero }}



<div role="main" class="grid_wrapper">
	<div class="grid">
		<div class="grid__item">

			content here

		</div>
	</div>
</div>


{{> organisms-footer(newsletter: true) }}

</div>