
{{> organisms/global/header}}

<div role="main" class="lc">

	<ul class="post-list" >
		<li class="list-item-primary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-primary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-primary">{{> molecules-media-item }}</li><!-- 
	 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li>
	</ul>

</div>


{{> organisms-footer(newsletter: true) }}
