{{> atoms/iconography/svgicons-pro}}

{{> organisms/global/header_v2}}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

		<div class="l-breadcrumbs">
			{{> molecules/navigation/breadcrumbs}}
		</div>

		<article id="maincontent" class="maincontent">
			<div class="textcontent">

				<div class="articleheader">

					<h1 class="title">{{ headline.medium }}</h1>



					<div class="item-meta-primary">
						<span class="item-payscale">€2200—€2800 p/m (Scale 9-10)</span>
						{{> molecules-item-location }}

					</div>

					<div class="item-meta-secondary">
						{{> molecules-item-date }}
						{{> molecules-item-department(team:"Software Development") }}
					</div>

					{{> molecules-item-deadline }}

				</div>



				<div class="prose">
				{{> organisms-article-body }}
				</div>

				{{> molecules-file-browser}}

			</div>

		</article>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">

				{{> molecules-help-contact(title: "Need Help?") }}


			</div>

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->


{{> organisms/global/footer }}

