{{> atoms/iconography/svgicons-pro}}

{{> organisms/global/header_v2}}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

		<div class="l-breadcrumbs">
			{{> molecules/navigation/breadcrumbs}}
		</div>

		<article id="maincontent" class="maincontent">
			<div class="textcontent">

				<div class="articleheader">

					<h1 class="title">{{ headline.medium }}</h1>

					<div class="item-meta-primary">
						{{> molecules-item-department(team:"Europeana Tech") }}
					</div>

					<div class="item-meta-secondary">
						Expected timeframe: {{> molecules-item-date }} to:&nbsp;&nbsp; {{> molecules-item-date }}
					</div>

					<div class="item-meta-tertiary">
						<h4>Chaired by:</h4>
						<ul class="people-list">
							{{#listItems.two}}<li>{{> molecules-person-block-small }}</li>{{/listItems.two}}
						</ul>

					</div>
				</div>



				<div class="prose">
					{{> organisms-article-body }}
				</div>


			</div>

			{{> molecules-related-images(title: "Related:") }}

		</article>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">
				{{> molecules-help-contact(title: "Need Help?") }}
			</div>

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->


{{> organisms/global/footer }}

