#Socks Proxy
socks.proxy.enabled=
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

#Redis
redis.host=
redis.port=
redis.password=

enrichment.mongoDb=
enrichment.mongoPort=
enrichment.proxy.url=
vocabulary.path=