<script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script> 
 
<script> 
    google.maps.event.addDomListener(window, 'load', init);

    var map, mapLat, mapLon,
    marker_Lat = 52.0818662,
    marker_Lon = 4.3273345,
    offset_Lat = 0.004,
    offset_Lon = -0.12;

    // apply the offset so the marker appears to the right of the text in wide viewports. 
    // its' centred on narrow ones.
    if(window.innerWidth <= 1050){
        mapLat = marker_Lat,
        mapLon = marker_Lon;
    }else{
        mapLat = marker_Lat + offset_Lat,
        mapLon = marker_Lon + offset_Lon;
    }
    


    function init() {
        var mapOptions = {
            center: new google.maps.LatLng(mapLat,mapLon),
            zoom: 12,
            zoomControl: true,
            disableDoubleClickZoom: false,
            mapTypeControl: false,
            scaleControl: false,
            scrollwheel: false,
            panControl: false,
            streetViewControl: false,
            draggable : true,
            overviewMapControl: false,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        }
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var locations = [
['Event name', 'undefined', 'undefined', 'undefined', 'undefined', marker_Lat, marker_Lon]
        ];
        for (i = 0; i < locations.length; i++) {
			if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
			if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
			if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
			if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
        }
}
</script>

<div id='map' class="map"></div>