<h5>Base tags</h5>

<p>
	<a href="#" class="tag">
		This
	</a>
	<a href="#" class="tag">
		is a
	</a>
	<a href="#" class="tag">
		tag
	</a>
</p>

<h5>Alternative tags</h5>

<p>
	<a href="#" class="tag_alt">
		This
	</a>
	<a href="#" class="tag_alt">
		is an
	</a>
	<a href="#" class="tag_alt">
		Alternative tag
	</a>
	<a href="#" class="tag_alt">
		tag
	</a>
</p>

<h5>Large tags (.tags-large)</h5>

<ul class="tags tags-large">
	<li><a href="" class="tag" >API</a></li>
	<li><a href="" class="tag" >Linked Open data</a></li>
	<li><a href="" class="tag" >Case Study</a></li>
	<li><a href="" class="tag" >Prototype</a></li>
	<li><a href="" class="tag" >Hackathon</a></li>
</ul>


<ul class="tags">
	<li><a href="" >API</a></li>
	<li><a href="" >Linked Open data</a></li>
	<li><a href="" >Case Study</a></li>
	<li><a href="" >Prototype</a></li>
	<li><a href="" >Hackathon</a></li>
</ul>
