{{> atoms/iconography/svgicons-pro}}

{{> organisms/global/header }}

{{> organisms-site-hero }}

<!-- Start Main page content -->
<main  id="maincontent" role="main" class="pro-home">


<div class="promo-abouteuropeana section">
<div class="lc">

	The <a href="linky">Europeana Foundation</a> and its Network create new ways for people to engage with European cultural history for work, learning or pleasure.

</div>
</div>

<div class="section pro-info">
<div class="lc">

<div class="grid">


	<div class="l-primaryaction">

		<div class="jointhenetwork">

			<h2>Join the network</h2>

			<ul>
				<li>Get in contact with over <a href="#">1000 members</a> from the cultural sector</li>
				<li>Take part in our regular meetings and <a href="#">events</a></li>

				<li>Get Involved in the future of <a href="#">Open data</a></li>
			</ul>

			<a class="btn button-join pill" href="join">
				Join now
			</a>

		</div>

	</div><!--
 --><div class="l-usefulinfo">
 	<div class="usefulinfo">

 	<h2>Quick Links</h2>

	<div class="grid">
		<div class="l-usefulinfo-item">

			<div class="usefulinfo-item">

				<h3>Share your data</h3>

				<ul class="usefulinfo-links">

					{{#listItems.four}}
					<li><a href="">{{headline.short}}</a></li>
					{{/listItems.four}}

				</ul>
			</div>

		</div><!--
	 --><div class="l-usefulinfo-item">

			<div class="usefulinfo-item">

				<h3>Use our data</h3>

				<ul class="usefulinfo-links">

				{{#listItems.four}}
					<li><a href="">{{headline.short}}</a></li>
				{{/listItems.four}}

				</ul>
			</div>

		</div>
	</div>
	</div>
	</div>

</div>


</div>
</div>

<div class="section home-news">
	<div class="lc">

	<h2 class="section-title">Latest Updates</h2>

	<div class="grid cf">

		<div class="l-news">
			<div class="grid">
			{{#listItems.three}}<div class="l-post">{{> molecules-inset-block}}</div>{{/listItems.three}}
			</div>

			<a class="link-more" href="{{ link.ListPage~blog }}">More from the Europeana professional Blog</a>
		</div>

	</div>
	</div>
</div>


<div class="section events-upcoming">
	<div class="lc">

		<h2 class="section-title">Upcoming Events</h2>

		<div class="grid cf">
		{{#listItems.two}}{{> molecules-event-block-small}}{{/listItems.two}}
		</div>

		<a class="link-more" href="events">More Events</a>

	</div>
</div>

<!-- End main content -->
</main>

{{> organisms/global/footer }}
