<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alt">Alternate Button</a></p>
<p><a href="#" class="btn btn-light">Light Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>




<p><a href="#" class="btn cta">Button CTA</a></p>

<p><a href="#" class="btn cta_main">Button CTA Main</a></p>
<p><a href="#" class="btn cta_main cta_light">Button CTA Light</a></p>

<p><a href="#" class="btn alt cta">Alternate Button CTA</a></p>
<p><a href="#" class="btn alt cta_main cta_light">Alternate Button CTA</a></p>

<p><a href="#" class="btn pill">Pill Button</a></p>
<p><a href="#" class="btn alt pill">Pill Alternate Button</a></p>
<p><a href="#" class="btn btn-light pill">Pill Light Button</a></p>



<h2>Smaller buttons</h2>

<p><a href="#" class="btn btn2">Small Button .btn2</a></p>
<p><a href="#" class="btn btn-small">Small Button .btn-small</a></p>