<ul class="categories-list">
    <li>
      <span class="item-categories">
        <svg class="icon icon-label">
          <use xlink:href="#icon-label"></use>
        </svg>
        <span class="title-category">Item Type</span>
      </span>
      <p>{{ headline.short }}</p>
    </li>

		<li>
      <span class="item-categories">
        <svg class="icon icon-quote">
          <use xlink:href="#icon-quote"></use>
        </svg>
        <span class="title-category">Language Coverage</span>
      </span>
      <p>{{ headline.short }}</p>
    </li>

    <li>
      <span class="item-categories">
        <svg class="icon icon-signpost">
          <use xlink:href="#icon-signpost"></use>
        </svg>
        <span class="title-category">Subjects</span>
      </span>
      <p>{{ headline.short }}</p>
    </li>

    <li>
      <span class="item-categories">
        <svg class="icon icon-map">
          <use xlink:href="#icon-map"></use>
        </svg>
        <span class="title-category">Spacial Coverage</span>
      </span>
      <p>{{ headline.short }}</p>
    </li>

    <li>
      <span class="item-categories">
        <svg class="icon icon-map-marker">
          <use xlink:href="#icon-map-marker"></use>
        </svg>
        <span class="title-category">Country</span>
      </span>
      <p>{{ headline.short }}</p>
    </li>

    <li>
      <span class="item-categories">
        <svg class="icon icon-clock">
          <use xlink:href="#icon-clock"></use>
        </svg>
        <span class="title-category">Time Coverage</span>
      </span>
      <p>{{ headline.short }}</p>
    </li>
  </ul>
