<ul class="ext-link-list">
    <li>
      <span class="item-comments">
        <svg class="icon icon-link">
          <use xlink:href="#icon-link"></use>
        </svg>
        <a href="{{ link.templates-labs-apps-detail }}">Aliquam erat volutpat.</a>
      </span>
    </li>

				<li>
      <span class="item-comments">
        <svg class="icon icon-link">
          <use xlink:href="#icon-link"></use>
        </svg>
        <a href="{{ link.templates-labs-apps-detail }}">Donec venenatis imperdiet tortor.</a>
      </span>
    </li>
  </ul>
