<!DOCTYPE html>
{{> organisms/global/header_v2}}
  <div class="mosaics">
  
    {{>templates/Hackathon/options}}
    
    {{#heading}}<h1 class="mosaic-main-header">{{.}}</h1>{{/heading}}
    
    {{#form}}
    <form class="mosaic-form" {{#action}}action="{{.}}"{{/action}} enctype="multipart/form-data">
        
        <label for="target_image">Target</label>
        <input type="file"   name="file" id="target_image"/>
        <input type="hidden" name="fileName" id="file_name"/>

        
        <label for="board">Source</label>
        <select name="board" id="board"/>
          <option value="all-boards">All</option>
        </select>

        <label for="size">Tile Size</label>
        <select name="size" id="size"/>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40" selected="selected">40</option>
          <option value="60">60</option>
          <option value"100">100</option>
        </select>

        <label for="scale">Scale</label>
        <input id="scale" name="scale" type="number" min="1" max="20" value="4"/>
        
        <input id="submit" type="submit" value="Make my mosaic"/>
        <div id="result-link"></div>
    </form>
    {{/form}}

    <div class="section-divider"></div>
    
    {{#gallery}}
      <h2>{{heading}}</h2>
      <div class="mosaic-gallery">
        {{#items}}
          <img class="mosaic-gallery-item" src="{{url}}">
        {{/items}}
      </div>
    {{/gallery}}
    
    {{> molecules/components/photoswipe/photoswipe }}


    <div class="section-divider"></div>
    
    <div class="mosaic-section">
      <h2>Tech Notes</h2>
      <ul>
        <li>mosaics generated by shell-script "metapixel"</li>
        <li>tile libraries are prepared in advance for speed - image analysis stored to a .mxt</li>
        <li>tile library for above mosaics had 2400-2700 entries</li>
      </ul>
      <br/>
      <br/>
      <ul>
        <li>Java server handles script IO in response to:</li>
        <li>server GET: responds with list of available pinterest boards (tile libraries)</li>
        <li>server POST: responds to posted form data (above) with the generated image url</li>
      </ul>
    </div>

    <div class="mosaic-section">
      <h2>TODO</h2>
      <ul>
        <li>automate download</li>
        <li>automate library maintenance</li>
        <li>automate cleanup of generated files</li>
      </ul>
      <br/>
      <br/>
      <ul>
        <li>error handling: the shell script fails with some .png files</li>
        <li>form-checking / ui clean-up / enable non-ajax post</li>
        <li>thumb generation - the thumbs you see are actually the full-size images</li>
      </ul>
    </div>

    {{> organisms/global/footer }}
  </div>


