{{#nav}}
<div>
  <ul class="options">
    {{#options}}
      <li><a href="{{url}}">{{text}}</a>
    {{/options}}    
  </ul>
</div>  
{{/nav}}

<style>
  body{
  }
  h1{
    margin-top: 4.8rem;
    clear: both;
  }
  .options li{
    float: left;
    margin: 0.5em 2em 0.5em 0;
  }
</style>
