<div class="mapping-field" {{#object_id}}id="{{.}}"{{/object_id}}>
	<div class="mapping-field-top">{{#tooltip}}{{>atoms/text/tooltip}}{{/tooltip}}</div> 
	<div class="mapping-field-bottom">
		<div class="mapping-field-occurence">{{occurence}}</div>
		<div class="flag"><a class="flag-link" data-dropdown="#{{#dropdown}}{{menu_id}}{{/dropdown}}"><i class="fa fa-flag-o"></i></a></div>
	</div>
</div>
