<form action="login" method="post" role="form" class="metis-login-form">
	<fieldset>
		<legend  class="login-form-header">Login</legend>
		{{#login_err_authenticate}}<div class="error-message">{{.}}</div>{{/login_err_authenticate}}
		<div class="field-container">
			<label for="emailaddress">Email:</label>
			<input id="emailaddress" type='text' name='username' placeholder="Type your email" {{#email}}value="{{.}}"{{/email}}/>
		</div>
		<div class="field-container">
			<label for="password">Password:</label>
			<input id="password" type='password' name='password' placeholder="Type your password" {{#password}}value="{{.}}"{{/password}}/>
		</div>
		<div class="field-container">
			<button type="submit">Login</button>
		</div>
	</fieldset>
</form>