<form action="profile" method="post" role="form" class="metis-profile-form">
	<fieldset>
		<legend  class="profile-form-header">Your Profile</legend>
		<div class="error_missing error-message">Error: a new password and the confirmed password are not the same</div>
		<div class="error_nonequal error-message">Error: an old password is missing</div>
		<div class="field-container">
			<label for="fullName">First Name*:</label>
			<input id="fullName" type='text' name='fullName' {{#fullName}}value="{{.}}"{{/fullName}}/>
		</div>
		<div class="field-container">
			<label for="lastName">Last Name*:</label>
			<input id="lastName" type='text' name='lastName' {{#lastName}}value="{{.}}"{{/lastName}}/>
		</div>
		<div class="field-container">
			<label for="email">Email*:</label>
			<input id="email" type='email' name='email' {{#email}}value="{{.}}"{{/email}}/>
		</div>
		<div class="field-container">
			<label for="skype">Skype:</label>
			<input id="skype" type='text' name='skype' placeholder="Type your skype account"/>
		</div>
		<div class="field-container">
			<select class="select-dropdown" id="user-profile-country-select" name="country" autocomplete="off">
				{{#countries}}
				<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
				{{/countries}}
			</select>
		</div>
		<div class="field-container">
			<label for="textarea">Textarea</label>
        	<textarea class="org-list" id="textarea" rows="4" cols="48">
        	</textarea>
		</div>
		<div class="field-container">
			<a class="user-profile-choose_org_drpdwn">Choose Organization >></a>
		</div>
		<div class="profile-select-orgs field-container">
			{{>molecules/pandora/select-organizations}}
		</div>
		<div class="field-container">
			<label><input type="checkbox" id="network_member_checkbox" value="network_member_checkbox"> I am a member of Europeana Network Association</label>
		</div>
		<div class="field-container">
			<a class="user-profile-update-password">Change Password >></a>
		</div>
		<div class="field-container user-profile-password">
			<label for="password_old">Old Password:</label>
			<input id="password_old" type='password' name='password_old' placeholder="Old password"/>
		</div>		
		<div class="field-container user-profile-password">
			<label for="password_new">New Password:</label>
			<input id="password_new" type='password' name='password_new' placeholder="New password"/>
		</div>		
		<div class="field-container user-profile-password">
			<label for="password_new2">Confirm Password:</label>
			<input id="password_new2" type='password' name='password' placeholder="New password"/>
		</div>
		<div class="field-container">
			<button type="submit">Update</button>
		</div>
		<div class="field-container">
			<button type="button">Back to Home</button>
		</div>
	</fieldset>
</form>