<figure class="stat-display {{style_modifier}} cf">
	<figcaption>

		<span class="stat-title">{{ title }}</span>

{{#description}}
	{{>molecules/components/tooltip-icon}}
{{/description}}

	</figcaption>

	<div class="stat-wrapper">
		<span class="stat-number">
			{{ value }}
		</span>

{{#trend}}
		{{#positive}}
		<div class="stat-trend up">
			<span class="is-vishidden">Increase of </span><span class="stat-value">{{value}}</span>
		</div>
		{{/positive}}

		{{#negative}}
		<div class="stat-trend down">
			<span class="is-vishidden">Decrease of </span><span class="stat-value">{{value}}</span>
		</div>
		{{/negative}}
{{/trend}}
	</div>
</figure>