<figure class="stat-display chart {{style_modifier}}">
	{{# title }}
	<figcaption>
		<span class="stat-title">{{ title }}</span>
{{#description}}
		{{>molecules/components/tooltip-icon}}
{{/description}}
	</figcaption>
	{{/ title }}

	<div id="{{ id }}" data-api="{{ api }}" data-datacast_identifier="{{ datacast_identifier }}" class="chart-wrapper {{ class }}" data-filter_present="{{ filter_present }}" data-filter_column_name="{{ filter_column_name }}">

	</div>
</figure>