<nav class="our-sites" aria-expanded="false" id="oursites">
  <div class="lc">


    <div class="l-linklist">
    <div class="inner">

      <h2 class="title h3">{{i18n.global.header.discover}}</h2>

      <ul>
        <li class="globallink">
        <a href="http://europeana.eu" tabindex="3">
          <h3 class="globallink-title">{{i18n.global.search-collections}}</h3>
          <p class="globallink-desc">{{i18n.global.search-collections-text}}</p>
        </a>
        </li>
      </ul>

    </div>
    </div><!--



   --><div class="l-linklist">
    <div class="inner">

      <h2 class="title h3">{{i18n.global.header.network}}</h2>

      <ul>
      <li class="globallink">
        <a href="http://pro.europeana.eu" tabindex="3">
          <h3 class="globallink-title">{{i18n.global.professional}}</h3>
          <p class="globallink-desc">{{i18n.global.professional-text}}</p>
        </a>
      </li>
      </ul>

    </div>
    </div><!--



   --><div class="l-linklist">
    <div class="inner">

      <h2 class="title h3">{{i18n.global.header.develop}}</h2>

      <ul>
      <li class="globallink">
        <a href="http://labs.europeana.eu" tabindex="3">
          <h3 class="globallink-title">{{i18n.global.labs}}</h3>
          <p class="globallink-desc">{{i18n.global.labs-text}}</p>
        </a>
      </li>
      </ul>

    </div>
    </div><!--



   --><div class="l-linklist">
    <div class="inner">

      <h2 class="title h3">{{i18n.global.header.connect}}</h2>

      <ul>
      <li class="globallink">
        <a href="http://research.europeana.eu" tabindex="3">
          <h3 class="globallink-title">{{i18n.global.research}}</h3>
          <p class="globallink-desc">{{i18n.global.research-text}}</p>
        </a>
      </li>
      </ul>

    </div>
    </div>

  </div>
</nav>