{{#navigation.secondary}}
<nav class="nav_secondary js-accordion" role="navigation">
  <ul class="level1">
  {{#items}}
    <li>
      <a href="{{url}}" {{#is_current}}class="is-current"{{/is_current}}>{{text}}</a>
      {{#submenu}}
      <ul class="level2">
      {{#items}}
        <li>
          <a href="{{url}}" {{#is_current}}class="is-current"{{/is_current}}>{{text}}</a>
          {{#submenu}}
          <ul class="level3">
          {{#items}}
            <li><a href="{{url}}" {{#is_current}}class="is-current"{{/is_current}}>{{text}}</a></li>
          {{/items}}
          </ul>
          {{/submenu}}
        </li>
      {{/items}}
      </ul>
      {{/submenu}}
    </li>
  {{/items}}
  </ul>
</nav>
{{/navigation.secondary}}
