<ul class="tags tags-large">
	<li><a href="" class="tag" >Lorem ipsum</a></li>
	<li><a href="" class="tag" >Aliquid explicabo</a></li>
	<li><a href="" class="tag is-active" >Adipisicing</a></li>
	<li><a href="" class="tag" >Eveniet repellat</a></li>
	<li><a href="" class="tag" >Necessitatibus</a></li>
</ul>