## Mongo
mongo.host=host1,...,hostn
mongo.port=port1,...,portn
mongo.username=
mongo.password=
fullbean.db=

## Zookeeper
zookeeper.host=host1,...,hostn
zookeeper.port=port1,...,portn

## Solr
solr.host=
solr.port=
solrcloud.host=
solrcloud.port=
solr.collection=