{{#is_java}}
	{{>atoms/meta/_head}}
{{/is_java}}
<div class="working-space">
	<div class="container-large">
	    {{#metis_header}}
		  {{> organisms/global/header_v2}}
	    {{/metis_header}}
	    <ul class="breadcrumbs">
		{{#breadcrumbs}}
	       	<li><a href="{{url}}">{{text}}</a></li>
	    {{/breadcrumbs}}
	    </ul>
	</div>
	<div class="container-large action_menu">
	    {{#action_menu}}
	      {{#sections}}
	      <div class="container-menu">
			{{#menu}}
				{{>molecules/controls/dropdown-menu}}
			{{/menu}}
	      </div>
	      {{/sections}}
	      {{#search_box}}
			<div class="container-search-box">
				{{>molecules/forms/search}}
			</div>
	      {{/search_box}}
	    {{/action_menu}}
	</div>
	<div>
		{{#mapping_card}}
			{{>organisms/pandora/mapping-card}}
		{{/mapping_card}}
	</div>
</div>
{{#is_java}}
	{{>atoms/meta/_foot}}
{{/is_java}}