<section class="block-content-header">
	<div class="grid_wrapper">
	<div class="grid">
		<div class="contents">
			<h1 class="title">{{ headline.medium }}</h1>
			<h3 class="subhead">{{ excerpt.short }}</h3>
		</div>
	</div>
	</div>
</section>
