<div class="labs-item block block-thumb block-thumb-small">

		<div class="b-thumb">
			<a href="{{ link.templates-labs-detail }}">
				{{> atoms-square }}
			</a>
		</div>

		<div class="b-text">

			<h5><a href="{{ link.templates-labs-detail }}">{{ headline.short }}</a></h5>

			{{> molecules-tags-alt}}
		</div>

</div>