<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>enrich</servlet-name>
		<servlet-class>eu.europeana.enrichment.gui.server.EnrichmentServiceImpl</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>enrich</servlet-name>
		<url-pattern>/MainPage/enrich</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>MainPage.html</welcome-file>
	</welcome-file-list>

</web-app>
