<h2 class="delta">Neutral, backgrounds and text</h2>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">White #FFFFFF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F1F1EE;"></span>
		<span class="sg-label">Off white: #F1F1EE</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D9D4CA;"></span>
		<span class="sg-label">Paper: #D9D4CA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777777;"></span>
		<span class="sg-label">Light gray: #777777</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4D4D4D;"></span>
		<span class="sg-label">Medium gray: #4D4D4D</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #232323;"></span>
		<span class="sg-label">Dark Gray: #232323</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #095F90;"></span>
		<span class="sg-label">Links: #095F90</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d12d1e;"></span>
		<span class="sg-label">Links Alt: #d12d1e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #293745;"></span>
		<span class="sg-label">Dark Blue: #293745</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1A1A1A;"></span>
		<span class="sg-label">Black: #1A1A1A</span>
	</li>
</ul>

<h2 class="delta">Top level section colours</h2>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1676AA;"></span>
		<span class="sg-label">Search: Blue: #1676AA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #37B98B;"></span>
		<span class="sg-label">Labs: Jade green: #37B98B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E11D53;"></span>
		<span class="sg-label">Pro: Raspberry: #E11D53</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7F3978;"></span>
		<span class="sg-label">Research: Purple: #7F3978</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d43900;"></span>
		<span class="sg-label">Project sites: Orange: #d43900</span>
	</li>
</ul>

<h2 class="delta">Brand colours</h2>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFAE00;"></span>
		<span class="sg-label">Yellow: #FFAE00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F22F24;"></span>
		<span class="sg-label">Red: #F22F24</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d43900;"></span>
		<span class="sg-label">Orange: #d43900</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E11D53;"></span>
		<span class="sg-label">Raspberry: #E11D53</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #37B98B;"></span>
		<span class="sg-label">Jade green: #37B98B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4BC0F0;"></span>
		<span class="sg-label">Light Blue: #4BC0F0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1676AA;"></span>
		<span class="sg-label">Blue: #1676AA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7F3978;"></span>
		<span class="sg-label">Purple: #7F3978</span>
	</li>
</ul>
