<form class="contact-form">
	<fieldset>
		<div class="field-container">
			<label for="contact-name">First Name <abbr title="Required">*</abbr></label>
			<input id="contact-name" type="text" placeholder="Enter your first name" />
		</div>
    <div class="field-container">
			<label for="contact-name-last">Last Name <abbr title="Required">*</abbr></label>
			<input id="contact-name-last" type="text" placeholder="Enter your last name" />
		</div>
		<div class="field-container">
			<label for="contact-email">Email </label>
			<input id="contact-email" type="email" placeholder="Your email address" />
		</div>
		<div class="field-container">
			<label for="contact-url">Job Title </label>
			<input id="contact-url" type="text" placeholder="Your job position" />
		</div>
		<div class="field-container">
			<label for="contact-organisation">Organisation <abbr title="Required">*</abbr></label>
			<input id="contact-name" type="text" placeholder="Please enter the organization name in English" />
		</div>
    <div class="field-container">
			<label for="contact-url">URL </label>
			<input id="contact-url" type="url" placeholder="Website if you got one" />
		</div>
    <div class="field-container">
			<label for="contact-name">Country <abbr title="Required">*</abbr></label>
			<input id="contact-country" type="text" placeholder="Please enter the country in English" />
		</div>

        {{> molecules-sortby }}

    <div class="field-container contact-select">
			<label for="contact-interest">Interested in...</label>
			<select id="contact-interest" multiple />
        <option value="1">something</option>
        <option value="2">somewhere</option>
        <option value="2">someone</option>
      </select>
      <p>Hold Ctrl to multi-select</p>
		</div>

    <form action="#">
      <fieldset class="options">
          <ul>
              <li><label for="checkbox1">Choice A <input id="checkbox1" name="checkbox" type="checkbox" checked="checked"></label></li>
              <li class="options_link"><a href="#">About EuropeanaTech</a></li>
              <li><label for="checkbox2">Choice B <input id="checkbox2" name="checkbox" type="checkbox"></label></li>
          </ul>
      </fieldset>
    </form>

  <fieldset class="submit-contact">
    <input type="submit" />
    <input class="pushbutton" type="submit" value="Reset"/>
  </fieldset>

	</fieldset>
</form>
