<div class="event-date">
	<div class="date-days">
		<span class="date-start">20</span>
		<span class="date-end">— 21</span>
	</div>
	<div class="date-month">September</div>
	<div class="date-year">2014</div>

	<div class="time">
		<svg class="icon icon-clock">
			<use xlink:href="#icon-clock"></use>
		</svg>
		<span class="time-start">10:00</span>
		<span class="time-end">— 22:00</span>
	</div>
</div>