<div class="file-browser file-browser-container">

    <h2>{{ title }}</h2>

    <div class="file-browser file-browser-buttons">
        <a class="file-browser file-browser-button file-browser-mode-button file-browser-button-active" href="?fb_cp=&amp;fb_mode=list" data-fb-mode="list">list</a>
        <a class="file-browser file-browser-button file-browser-mode-button " href="?fb_cp=&amp;fb_mode=icons" data-fb-mode="icons">icons</a>
    </div>

    <ul class="file-browser file-browser-list file-browser-list-list" data-fb-root="Europeana Professional/Resources and PR tools" data-fb-cp="" data-fb-mode="list">


{{#listItems.five}}

        <li class="file-browser file-browser-item file-browser-file">
            <a class="file-browser" href="#" target="file_popup">

                <img class="file-browser file-browser-thumbnail file-browser-icon file-browser-icon-default" src="{{image_root}}/pro/document.svg" width="32" height="32">

                <span class="file-browser file-browser-label file-browser-filename">
                {{file.name}}
                </span>

                <span class="file-browser file-browser-label file-browser-filesize">
                {{file.size}}
                </span>

                <span class="file-browser file-browser-label file-browser-filetime">
                {{ day.long }}/{{ month.digit }}/{{ year.short }}
                </span>
            </a>
        </li>

{{/listItems.five}}

    </ul>
</div>