<li class="list-item cf">

	<div class="item-supplementary">

		{{# publication }}
			<div class="item-image">
				<a href="#"><img src="{{ image_root }}{{ img.portrait.src }}" alt="{{ img.portrait.alt }}" /></a>
			</div>
		{{/ publication }}

		{{# press }}
			<div class="item-image">
				<a href="#"><img src="{{ image_root }}{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" /></a>
			</div>
		{{/ press }}

		{{# blog }}
			<div class="item-image">
				<a href="#"><img src="{{ image_root }}{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" /></a>
			</div>
		{{/ blog }}

		{{# project }}
			<div class="item-image">
				<a href="#"><img src="{{ image_root }}{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" /></a>
			</div>
		{{/ project }}

		{{# event }}
			<div class="item-bigdate">
				{{> molecules-event-date}}
			</div>
		{{/ event }}

	</div><!--

 --><div class="item-details">

		<h2 class="title"><a href="#">{{ headline.medium }}</a></h2>

		{{# search }}
			{{> molecules/navigation/breadcrumbs}}
		{{/ search }}

		{{# publication }}
		<div class="item-meta-primary">
			{{> molecules-item-author }}
		</div>
		{{/ publication }}

		{{# blog }}
		<div class="item-meta-primary">
			{{> molecules-item-author }}
			{{> molecules-item-readtime }}
		</div>
		{{/ blog }}

		<div class="item-meta-secondary">

			{{# event }}
				{{> molecules-item-location }}
				{{> molecules-item-tags }}
			{{/ event }}

			{{# job }}
				{{> molecules-item-date }}
				{{> molecules-item-location }}
				{{> molecules-item-department(team:"Software Development") }}
			{{/ job }}

			{{# blog }}
				{{> molecules-item-date }}
				{{> molecules-item-tags }}
				{{> molecules-item-comments }}
			{{/ blog }}

			{{# publication }}
				{{> molecules-item-date }}
				{{> molecules-item-tags }}
			{{/ publication }}

			{{# press }}
				{{> molecules-item-date }}
				{{> molecules-item-tags }}
			{{/ press }}

			{{# taskforce }}
				{{>molecules-meta-daterange }}
				{{>molecules-item-tags }}
			{{/ taskforce }}

			{{# project }}
				{{>molecules-meta-daterange }}
			{{/ project }}

		</div>

		<div class="item-preview">
			{{ excerpt.medium }}
		</div>

{{# publication }}
		{{> molecules-file-list-small }}
{{/ publication }}

	</div>

</li>