<span class="item-comments">
	<svg class="icon icon-external-link">
		<use xlink:href="#icon-external-link"></use>
	</svg>
	<a href="{{ link.templates-labs-apps-detail }}">www.provider.com</a>
</span>
