<span class="item-deadline">
	<svg class="icon icon-clock">
		<use xlink:href="#icon-clock"></use>
	</svg>
	<span class="item-text">Deadline for applications: </span>
	<span class="item-day">{{ day.long }}</span>
	<span class="item-month">{{ month.long}}</span>
	<span class="item-year">{{ year.long }}</span>
</span>